
// *****************************************************************************
// =============================================================================
// Elements: Fonts
// =============================================================================
// This file contains the font element properties
// *****************************************************************************

// Body typography
// =============================================================================
%f-body {
    // Set default
    font-family: $font-body;
    font-weight: $medium;
    letter-spacing: 0;
    color: $body-color;

    //
    .-is-dark-background & {
        color: white;
    }

    // Has Meta FF
    .-has-meta-ff & {
        font-family: 'ff-meta-web-pro';
    }

    // Has Proxima Nova
    .-has-proxima-nova & {
        font-family: 'proxima-nova';
    }

    // Has Proxima Nova + Utopia pairing
    .-has-proxima-nova-utopia-pairing & {
        font-family: 'proxima-nova';
    }

    // Has Bebas Neue + Acumin pairing
    .-has-bebas-neue-acumin-pairing & {
        font-family: 'acumin-pro';
    }

    // Has Mencken + Quasimoda pairing
    .-has-mencken-quasimoda-pairing & {
        font-family: 'quasimoda';
    }

    // Has Ivy Presto + Acumin Pro pairing
    .-has-ivy-presto-and-acumin-pro-pairing & {
        font-family: 'acumin-pro';
    }

    // Has Utile + Runda pairing
    .-has-utile-and-runda-pairing & {
        font-family: 'runda';
    }

    // Has Utile + Tisa pairing
    .-has-utile-and-tisa-pairing & {
        font-family: 'ff-tisa-web-pro';
    }

    // Has Pragmatica
    .-has-pragmatica & {
        font-family: 'pragmatica';
    }

    // Has Aktiv Grotesk
    .-has-aktiv-grotesk & {
        font-family: 'aktiv-grotesk';
    }
}

// Is b1
%-is-b1 {
    font-size: rem(20px);
    line-height: rem(30px);

    // From mobile
    @media (min-width: $from-desktop) {
        font-size: rem(24px);
        line-height: rem(36px);
    }
}

// Is b1
%-is-b1A {
    font-size: rem(20px);
    line-height: rem(30px);
}

// Is b2
%-is-b2 {
    font-size: rem(18px);
    line-height: rem(26px);

    // From mobile
    @media (min-width: $from-desktop) {
        font-size: rem(20px);
        line-height: rem(30px);
    }
}

// Is b3
%-is-b3 {
    font-size: rem(16px);
    line-height: rem(24px);
}

// Is b3
%-is-b3-semibold {
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: $semibold;
}

// Is b4
%-is-b4 {
    font-size: rem(14px);
    line-height: rem(21px);
}

// Display typography
// =============================================================================
%f-display {
    // Set default
    font-family: $font-header;
    font-weight: $bold;
    color: $headline-color;

    //
    .-is-dark-background & {
        color: white;
    }

    // Has Meta FF
    .-has-meta-ff & {
        font-family: 'ff-meta-web-pro';
    }

    // Has Proxima Nova
    .-has-proxima-nova & {
        font-family: 'proxima-nova';
    }

    // Has Proxima Nova + Utopia pairing
    .-has-proxima-nova-utopia-pairing & {
        font-family: 'utopia-std';
    }

    // Has Bebas Neue + Acumin pairing
    .-has-bebas-neue-acumin-pairing & {
        font-family: 'bebas-neue-pro-semiexpanded';
    }

    // Has Mencken + Quasimoda pairing
    .-has-mencken-quasimoda-pairing & {
        font-family: 'mencken-std';
    }

    // Has Ivy Presto + Acumin Pro pairing
    .-has-ivy-presto-and-acumin-pro-pairing & {
        font-family: 'ivypresto-headline';
    }

    // Has Utile + Runda pairing
    .-has-utile-and-runda-pairing & {
        font-family: 'utile';
    }

    // Has Utile + Tisa pairing
    .-has-utile-and-tisa-pairing & {
        font-family: 'utile-display';
    }

    // Has Pragmatica
    .-has-pragmatica & {
        font-family: 'pragmatica';
        font-weight: $light;
    }

    // Has Aktiv Grotesk
    .-has-aktiv-grotesk & {
        font-family: 'aktiv-grotesk';
    }
}

%-is-d-0 {
    font-size: rem(60px);
    letter-spacing: rem(-0.5px);
    line-height: rem(75px);
}

// Is d1
%-is-d1 {
    font-size: rem(40px);
    letter-spacing: rem(-0.5px);
    line-height: rem(50px);

    // From mobile
    @media (min-width: $from-desktop) {
        font-size: rem(60px);
        letter-spacing: rem(-1px);
        line-height: rem(75px);
    }
}

// Is d2
%-is-d2 {
    font-size: rem(32px);
    letter-spacing: rem(-0.02px);
    line-height: rem(40px);

    // From mobile
    @media (min-width: $from-desktop) {
        font-size: rem(40px);
        letter-spacing: rem(-0.5px);
        line-height: rem(50px);
    }
}

// Is d2
%-is-d2A {
    font-size: rem(32px);
    letter-spacing: rem(-0.02px);
    line-height: rem(40px);
}

// Is d2
%-is-d2B {
    font-size: rem(28px);
    letter-spacing: rem(-0.02px);
    line-height: rem(35px);

    // From mobile
    @media (min-width: $from-desktop) {
        font-size: rem(40px);
        letter-spacing: rem(-0.5px);
        line-height: rem(50px);
    }
}

// Is d3
%-is-d3 {
    font-size: rem(28px);
    letter-spacing: rem(-0.02px);
    line-height: rem(35px);

    // From mobile
    @media (min-width: $from-desktop) {
        font-size: rem(32px);
        letter-spacing: rem(-0.02px);
        line-height: rem(40px);
    }
}

// Is d3A
// %-is-d3A {
//     font-size: rem(18px);
//     letter-spacing: rem(-0.04px);
//     line-height: rem(26px);

//     @media (min-width: $from-tablet) {
//         font-size: rem(24px);
//         letter-spacing: rem(-0.05px);
//         line-height: rem(36px);
//     }
// }

// Is d4
%-is-d4 {
    font-size: rem(24px);
    letter-spacing: rem(-0.02px);
    line-height: rem(30px);
}

// Is d4
%-is-d4-desktop-only {
    @media (min-width: $from-tablet) {
        font-size: rem(24px);
        letter-spacing: rem(-0.02px);
        line-height: rem(30px);
    }
}

// Is d4
%-is-d4A-bold {
    font-size: rem(24px);
    letter-spacing: rem(-0.02px);
    line-height: rem(24px);
    font-weight: $bold;
}

// Is d5
%-is-d5 {
    font-size: rem(20px);
    letter-spacing: rem(-0.02px);
    line-height: rem(25px);
}

// Is d5
%-is-d5A {
    font-size: rem(20px);
    letter-spacing: rem(-0.02px);
    line-height: rem(28px);
}

// Is d55
%-is-d5B-bold {
    font-size: rem(18px);
    letter-spacing: rem(-0.04px);
    line-height: rem(26px);
    font-weight: $bold;
}

// Is d55
%-is-d5C-semibold  {
    font-size: rem(18px);
    font-weight: $semibold;
    letter-spacing: rem(-0.04px);
    line-height: rem(26px);

    // From tablet
    @media (min-width: $from-tablet) {
        font-size: rem(24px);
        font-weight: $semibold;
        letter-spacing: rem(-0.05px);
        line-height: rem(36px);
    }
}

// Is d55
%-is-d5C-bold {
    font-size: rem(18px);
    font-weight: $bold;
    letter-spacing: rem(-0.04px);
    line-height: rem(26px);

    // From tablet
    @media (min-width: $from-tablet) {
        font-size: rem(24px);
        font-weight: $semibold;
        letter-spacing: rem(-0.05px);
        line-height: rem(36px);
    }
}

// Is d6
%-is-d6 {
    font-size: rem(16px);
    letter-spacing: rem(-0.02px);
    line-height: rem(20px);
}

// Is d6
%-is-d6-desktop-only {

    @media (min-width: $from-desktop) {
        font-size: rem(16px);
        letter-spacing: rem(-0.02px);
        line-height: rem(20px);
    }
}

// Is d6
%-is-d6-bold {
    font-size: rem(16px);
    letter-spacing: rem(-0.02px);
    line-height: rem(20px);
    font-weight: $bold;
}

// Is d6
%-is-d6A {
    font-size: rem(16px);
    letter-spacing: rem(-0.02px);
    line-height: rem(20px);

    @media (min-width: $from-tablet) {
        font-size: rem(20px);
        line-height: rem(28px);
    }
}

// Is d6
%-is-d6A-bold {
    font-size: rem(16px);
    letter-spacing: rem(-0.02px);
    line-height: rem(20px);
    font-weight: $bold;

    @media (min-width: $from-tablet) {
        font-size: rem(20px);
        line-height: rem(28px);
    }
}

// Is d6
%-is-d6A-semibold {
    font-size: rem(16px);
    letter-spacing: rem(-0.02px);
    line-height: rem(20px);
    font-weight: $semibold;

    @media (min-width: $from-tablet) {
        font-size: rem(20px);
        line-height: rem(28px);
    }
}

// Navigation typography
// =============================================================================
%f-navigation {
    // Set default
    font-family: $font-navigation;
    font-size: rem(16px);
    font-weight: $bold;
    letter-spacing: rem(-0.02px);
    line-height: rem(20px);
    color: $headline-color;

    //
    .-is-dark-background & {
        color: white;
    }

    // Has Meta FF
    .-has-meta-ff & {
        font-family: 'ff-meta-web-pro';
    }

    // Has Proxima Nova
    .-has-proxima-nova & {
        font-family: 'proxima-nova';
    }

    // Has Proxima Nova + Utopia pairing
    .-has-proxima-nova-utopia-pairing & {
        font-family: 'utopia-std';
    }

    // Has Bebas Neue + Acumin pairing
    .-has-bebas-neue-acumin-pairing & {
        font-family: 'bebas-neue-pro-semiexpanded';
    }

    // Has Mencken + Quasimoda pairing
    .-has-mencken-quasimoda-pairing & {
        font-family: 'mencken-std';
    }

    // Has Ivy Presto + Acumin Pro pairing
    .-has-ivy-presto-and-acumin-pro-pairing & {
        font-family: 'ivypresto-headline';
    }

    // Has Utile + Runda pairing
    .-has-utile-and-runda-pairing & {
        font-family: 'utile';
    }

    // Has Utile + Tisa pairing
    .-has-utile-and-tisa-pairing & {
        font-family: 'utile-display';
    }

    // Has Pragmatica
    .-has-pragmatica & {
        font-family: 'pragmatica';
        font-weight: $normal;
    }

    // Has Aktiv Grotesk
    .-has-aktiv-grotesk & {
        font-family: 'aktiv-grotesk';
    }
}


// UI typography
// =============================================================================
%f-ui {
    // Set default
    font-family: $font-body;
    font-weight: $medium;
    letter-spacing: 0;
    color: $gray-8;

    // Has Meta FF
    .-has-meta-ff & {
        font-family: 'ff-meta-web-pro';
    }

    // Has Proxima Nova
    .-has-proxima-nova & {
        font-family: 'proxima-nova';
    }

    // Has Proxima Nova + Utopia pairing
    .-has-proxima-nova-utopia-pairing & {
        font-family: 'utopia-std';
    }

    // Has Bebas Neue + Acumin pairing
    .-has-bebas-neue-acumin-pairing & {
        font-family: 'bebas-neue-pro-semiexpanded';
    }

    // Has Mencken + Quasimoda pairing
    .-has-mencken-quasimoda-pairing & {
        font-family: 'quasimoda';
    }

    // Has Ivy Presto + Acumin Pro pairing
    .-has-ivy-presto-and-acumin-pro-pairing & {
        font-family: 'acumin-pro';
    }

    // Has Utile + Runda pairing
    .-has-utile-and-runda-pairing & {
        font-family: 'runda';
    }

    // Has Utile + Tisa pairing
    .-has-utile-and-tisa-pairing & {
        font-family: 'ff-tisa-web-pro';
    }

    // Has Pragmatica
    .-has-pragmatica & {
        font-family: 'pragmatica';
    }

    // Has Aktiv Grotesk
    .-has-aktiv-grotesk & {
        font-family: 'aktiv-grotesk';
    }
}

// Is ui-3
%-is-ui-3 {
    font-size: rem(12px);
    line-height: rem(12px);
}

// Is ui-3
%-is-ui-3-bold {
    font-size: rem(12px);
    line-height: rem(12px);
    font-weight: $bold;
}

// Is ui-3
%-is-ui-3-semibold {
    font-size: rem(12px);
    line-height: rem(12px);
    font-weight: $semibold;
}

// Is ui-3
%-is-ui-3A-bold {
    font-size: rem(12px);
    line-height: rem(12px);
    font-weight: $bold;

    @media (min-width: $from-tablet) {
        font-size: rem(14px);
        line-height: rem(20px);
    }
}

// Is ui-2
%-is-ui-2A {
    font-size: rem(12px);
    line-height: rem(16px);
}

// Is ui-2
%-is-ui-2 {
    font-size: rem(12px);
    line-height: rem(18px);
}

// Is ui-2-heavy
%-is-ui-2-bold {
    font-size: rem(12px);
    line-height: rem(18px);
    font-weight: $bold;
}

// Is ui-1
%-is-ui-1 {
    font-size: rem(14px);
    line-height: rem(20px);
}

// Is ui-1
%-is-ui-1-important {
    font-size: rem(14px) !important;
    line-height: rem(20px) !important;
}

// Is ui-1
%-is-ui-1-bold {
    font-size: rem(14px);
    line-height: rem(20px);
    font-weight: $bold;
}

// Is ui-1
%-is-ui-1-semibold {
    font-size: rem(14px);
    line-height: rem(20px);
    font-weight: $semibold;
}

// Is ui-1
%-is-ui-1A-semibold {
    font-size: rem(14px);
    line-height: rem(14px);
    font-weight: $semibold;
}

// Is ui-1
%-is-ui-1B-semibold {
    font-size: rem(14px);
    line-height: rem(18px) !important;
    font-weight: $semibold;
}


//
// =============================================================================
//
