// =============================================================================
// Templates: Page
// =============================================================================
// This file contains the page properties

// Template Class
// =============================================================================
// Unlike most of our code, let's wrap all internal classes with our template
// class which will allow for easy overrides
.t-page {

    // Headline
    // =========================================================================

    // Body
    // =========================================================================

    .-is-content {
        .c-wysiwyg {
            padding: $gutter-xs;
            background-color: $white;
            color: $black;

            h2 {
                margin-top: 1em;
                margin-bottom: 0.25em;
                font-weight: $font-bold;
            }
        }
    }
}
