// =============================================================================
// Templates: Page
// =============================================================================
// This file contains the page properties

// Template Class
// =============================================================================
// Unlike most of our code, let's wrap all internal classes with our template
// class which will allow for easy overrides
.t-page {

    // Headline
    // =========================================================================

    // Body
    // =========================================================================

    .-is-content {

        .c-wysiwyg {
            padding: $gutter-xs;
            background-color: $white;
            color: $black;

            h2 {
                margin-top: 1em;
                margin-bottom: 0.25em;
                font-weight: $font-bold;
            }
        }

        // at or above 600px
        @include media(">=small") {
            display: flex;
            // align-items: flex-start;

            .c-wysiwyg {
                flex: 0 0 percentage(2/3);
            }
        }

        // at or above 1200px
        @include media(">=large") {
            .c-wysiwyg {
                padding: $gutter-sm;
            }
        }

    }

    a:where(:not(.wp-element-button)) {
        text-decoration: none;
    }
}
