
<footer class="o-footer">
    <div class="o-footer__logo">
        {% include '_base/svg/logo.twig' with {
            svgClass: '-is-light'
        } only %}
    </div>
    <address class="o-footer__address">
        2163 Commons Parkway<br/>
        Okemos, MI 48864
    </address>
    <a href="tel:​5174091040" class="o-footer__phone">​(517) 409-1040</a>
    Copyright {{"now"|date('Y')}}
</footer>

{{ function('wp_footer') }}
