{# TODO: Tailwind Stylesheet #}
{# <link rel="stylesheet" href="{{ site.theme.link }}/css/header.css" /> #}

{# Template #}
{# <header class="o-header js-menu" data-module-navigation data-scroll> #}
<header class="o-header js-menu">

    {# Main logo #}
    <a href="{{ siteUrl }}" class="o-header__logo">
        {# {% if function(the_custom_logo) %} #}
            {# {{ function(the_custom_logo) }} #}
        {# {% else %} #}
            {% include '_base/svg/logo.twig' with {
                svgClass: '-is-dark'
            } only %}
        {# {% endif %} #}
    </a>

    {# Hamburger menu #}
    <div class="o-header__trigger">
        <button type="button" class="c-hamburger js-nav-trigger -not-active">
            {% include '_base/svg/icon-caret-down.twig' %}
            Menu
        </button>
    </div>

    {# Primary navigation #}
    <nav class="o-header__nav">
        {% include '_components/navigation.twig' with {
            'items': menu.get_items
        } %}
    </nav>

</header>
