// =============================================================================
// Objects: Header
// =============================================================================
// Styles for the global site header

// Object frame
// =============================================================================

.o-header {
    // at or above 600px
    @include media(">=small") {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.o-header__logo {
    display: block;
    max-width: 500px;
    padding: 16px 24px;

    svg {
        display: block;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        fill: #e00000;
    }
}

// Object modifiers
// =============================================================================
.o-header__trigger .c-hamburger {
    display: flex;
    align-items: center;
}

// Object elements
// =============================================================================
.o-header__nav {
    background-color: #e00000;
}
