// =============================================================================
// Objects: Section
// =============================================================================

// Object frame
// =============================================================================

.o-section {
    position: relative;
    padding-left: $gutter-xs;
    padding-right: $gutter-xs;

    // at or above 900px
    @include media(">=medium") {
        padding-left: $gutter-sm;
        padding-right: $gutter-sm;
    }
}

// Object modifiers
// =============================================================================

// Edge-to-edge
.o-section.-is-banner,
.o-section.-is-cta,
.o-section.-is-locations,
.o-section.-is-photos {
    padding-left: 0;
    padding-right: 0;
}

.o-section.-is-content {
    margin-bottom: $gutter-xs;
}

.o-section.-is-card-deck {
    margin-top: $gutter-xs;
}

// Object elements
// =============================================================================
