// =============================================================================
// Objects: Section
// =============================================================================

// Object frame
// =============================================================================

.o-section {
    position: relative;
    padding-left: $gutter-xs;
    padding-right: $gutter-xs;

    // Edge-to-edge
    &.-full-width {
        padding-left: 0;
        padding-right: 0;
    }

    // at or above 900px
    @include media(">=medium") {
        padding-left: $gutter-sm;
        padding-right: $gutter-sm;
    }
}

// Object modifiers
// =============================================================================

// Object elements
// =============================================================================
