// =============================================================================
// Components: Button
// =============================================================================
// This file styles all button components

// Component Frame
// =============================================================================

.c-button {
    padding: 12px 20px;
    background-color: $red;
    color: $white;
}

// Component Modifiers
// =============================================================================

// .c-button.-is-primary {}
// .c-button.-is-secondary {}

// Component Elements
// =============================================================================
