// =============================================================================
// Components: Button
// =============================================================================
// This file styles all button components

// Component Frame
// =============================================================================

%button,
.c-button {
    padding: 12px 20px;
    background-color: $red;
    color: $white;
    transition: background $speed-reveal $bezier-slide,
                color $speed-reveal $bezier-slide,
                box-shadow $speed-reveal $bezier-slide;

    @include u-hocus {
        background-color: $white;
        color: $black;
        box-shadow: inset 0 0 0 2px $red;
    }
}

// Component Modifiers
// =============================================================================

// .c-button.-is-primary {}
// .c-button.-is-secondary {}

// Component Elements
// =============================================================================
