// *****************************************************************************
// =============================================================================
// Components: Image + image campaign block
// =============================================================================
// This file contains the image + image block properties
// *****************************************************************************

// Component class
// =============================================================================
.c-campaign--image-image {
    // From tablet
    @media (min-width: $from-tablet) {
        display: flex;
        align-items: center;
    }

    // Media card overrides
    .c-media-card {
        // To tablet
        @media (max-width: $to-tablet) {
            // Hide 2nd media card
            &:last-child {
                display: none;
            }
        }

        // From tablet
        @media (min-width: $from-tablet) {
            width: 50%;
        }
    }
}
