// *****************************************************************************
// =============================================================================
// Components: Action banner campaign block
// =============================================================================
// This file contains the campaign action banner block properties
// *****************************************************************************

// Component class
// =============================================================================
.c-campaign--action-banner {
    // Wrapper
    .c-campaign__action-banner-wrapper {
        position: relative;
        overflow: hidden;

        // Is right aligned
        &.-is-right-aligned {
            display: flex !important;
            flex-direction: column-reverse;
        }
    }

    // Wrapper, is right aligned so reverse flow of elements
    &.-is-right-aligned:not(.-has-no-image) .c-campaign__action-banner-wrapper {
        // To tablet
        @media (max-width: $to-tablet) {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    // Branding card overrides
    .c-branding-card {
        display: none;

        @media (min-width: $from-desktop) {
            display: block;
            // top: 0;
            // right: 0;
            right: rem(-20px);
            left: auto;
            z-index: 3;
        }
    }

    // Media card overrides
    .c-media-card {
        position: relative;
        padding-bottom: 75%;
        z-index: 1;

        // From tablet
        @media (min-width: $from-tablet) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;
            padding: 0;
        }

        .-has-no-image & {
            display: none;
        }
    }

    // Media card, is right aligned
    &.-is-right-aligned:not(.-has-no-image) .c-media-card {
        // From tablet
        @media (min-width: $from-tablet) {
            right: 50%;
            left: 0;
        }
    }

    // Media card, has no image
    &.-has-no-image .c-media-card {
        display: none;
    }

    // Media card, has overlay image
    &.-has-overlay-image:not(.-has-no-image) .c-media-card {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        padding: 0;
    }

    // Text card overrides
    .c-text-card {
        padding: rem(30px) rem(20px);
        z-index: 2;

        // From tablet
        @media (min-width: $from-tablet) {
            margin-right: auto;
            padding: rem(40px);
            width: 50%;
            text-align: left;
        }

        // From desktop
        @media (min-width: $from-desktop) {
            padding: rem(80px);
        }

        // From desktop large
        @media (min-width: $from-desktop-lg) {
            padding: rem(100px);
        }
    }

    // Text card, is right aligned
    &.-is-right-aligned:not(.-has-no-image) .c-text-card {
        // From tablet
        @media (min-width: $from-tablet) {
            margin-right: 0;
            margin-left: auto;
        }
    }

    // Text card, has no image
    &.-has-no-image .c-text-card {
        // From tablet
        @media (min-width: $from-tablet) {
            width: 100%;
            text-align: center;

            // Apply max width to children
            * {
                margin-right: auto;
                margin-left: auto;
                max-width: rem(740px);
            }
        }
    }

    // Text card, has overlay image
    &.-has-overlay-image:not(.-has-no-image) .c-text-card {
        background-color: rgba(37, 37, 37, 0.7);
    }

    // Headline overrides
    .c-text-card__headline {
        @extend %-is-d3;
    }

    // Headline, has overlay image
    &.-has-overlay-image:not(.-has-no-image) .c-text-card__headline {
        color: $white;
    }

    // Body overrides
    .c-text-card__body {
        @extend %-is-b2;
    }

    // Body, has overlay image
    &.-has-overlay-image:not(.-has-no-image) .c-text-card__body {
        color: $white;
    }

    // Button, has overlay image
    &.-has-overlay-image:not(.-has-no-image) .c-text-card__button {
        color: $gray-8;
        background-color: $white;

        // Hover
        &:hover {
            opacity: 0.9;
        }
    }
}
