// *****************************************************************************
// =============================================================================
// Components: Video + text campaign block
// =============================================================================
// This file contains the video + text block properties
// *****************************************************************************

// Component class
// =============================================================================
.c-campaign--video-text {
    overflow: hidden;

    // Grid item
    .c-campaign__grid-item {
        display: flex;
        flex-direction: column;
        position: relative;

        // From tablet
        @media (min-width: $from-tablet) {
            flex-direction: row;
            align-items: center;
            margin: 0 !important;
        }

        // Set margins for cards within a grid item
        .c-media-card,
        .c-text-card {
            margin-top: rem(13px);
            margin-bottom: rem(13px);

            // From tablet
            @media (min-width: $from-tablet) {
                margin-top: 0;
                margin-right: rem(20px);
                margin-bottom: 0;
                margin-left: rem(20px);

                // Remove top margin from first child
                &:first-child {
                    margin-left: 0;
                }

                // Remove bottom margin from last child
                &:last-child {
                    margin-right: 0;
                }
            }

            // From desktop
            @media (min-width: $from-desktop) {
                margin-left: rem(40px);
                margin-right: rem(40px);
            }
        }

        // Media card overrides
        .c-media-card {
            // From tablet
            @media (min-width: $from-tablet) {
                width: calc(65% - 20px);
            }

            // From desktop
            @media (min-width: $from-desktop) {
                width: calc(65% - 40px);
            }
        }

        // Text card overrides
        .c-text-card {
            // From tablet
            @media (min-width: $from-tablet) {
                width: calc(35% - 20px);
                text-align: left;
            }

            // From desktop
            @media (min-width: $from-desktop) {
                width: calc(35% - 40px);
            }
        }

        // Headline overrides
        .c-text-card__headline {
            @extend %-is-d3;
            margin-bottom: rem(10px);
        }

        // Body overrides
        .c-text-card__body {
            @extend %-is-b3;
            margin-bottom: rem(20px);
        }

        // Button overrides
        .c-text-card__button {
            // Import font classes
            @extend %f-ui;
            @extend %-is-ui-1-bold;

            // Set component defaults
            margin: 0;
            padding: 0;
            background: none !important;
            text-decoration: none !important;
            color: $gray-8 !important;

            // Text
            span {
                margin-right: 5px;
            }

            // Add arrow
            svg {
                max-width: rem(17px);
                max-height: rem(10px);
                fill: currentColor;
            }

            // Hover
            &:hover {
                svg {
                    fill: $link-hover-color;
                }
            }
        }
    }

    // Is right aligned
    &.-is-right-aligned .c-campaign__grid-item {
        flex-direction: column-reverse;

        // From tablet
        @media (min-width: $from-tablet) {
            flex-direction: row-reverse;
            margin-left: rem(20px);
        }

        // Set margins for cards within a grid item
        .c-media-card,
        .c-text-card {
            // Add top margin from first child
            &:first-child {
                margin-top: rem(6px) !important;
                margin-bottom: 0;
            }

            // Addbottom margin from last child
            &:last-child {
                margin-top: 0;
                margin-bottom: rem(6px) !important;
            }

            // From tablet
            @media (min-width: $from-tablet) {
                // Remove top margin from first child
                &:first-child {
                    margin-top: 0 !important;
                    margin-right: 0;
                    margin-bottom: 0 !important;
                    margin-left: rem(20px);
                }

                // Remove bottom margin from last child
                &:last-child {
                    margin-top: 0 !important;
                    margin-right: rem(20px);
                    margin-bottom: 0 !important;
                    margin-left: 0;
                }
            }

            // From desktop
            @media (min-width: $from-desktop) {
                // Remove top margin from first child
                &:first-child {
                    margin-right: 0;
                    margin-left: rem(40px);
                }

                // Remove bottom margin from last child
                &:last-child {
                    margin-right: rem(40px);
                    margin-left: 0;
                }
            }
        }
    }
}
