// =============================================================================
// Components: Cards
// =============================================================================
// This file styles the related post cards

// Component Frame
// =============================================================================

.c-card {
    background-color: $white;
    color: $black;
}

// Component Modifiers
// =============================================================================

// Component Elements
// =============================================================================

.c-card__content {
    margin-top: $gutter-xs;
}
