
// *****************************************************************************
// =============================================================================
// Components: Content
// =============================================================================
// This file contains the content block component   properties
// *****************************************************************************

// Component class
// =============================================================================
.c-content {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: rem(740px);
    margin-top: rem(40px);

    // Modify first child
    &:first-of-type {
         margin-top: 0;
    }

    // Modify last child
    &:last-of-type {
        margin-bottom: 0;
    }

    // Play button overrides
    .c-media-card .c-button.-is-play {

        // From desktop
        @media (min-width: $from-desktop) {
            padding-top: rem(15px);
            padding-right: rem(28px);
            padding-bottom: rem(15px);
            padding-left: rem(28px);
            font-size: rem(16px);
            letter-spacing: rem(-0.02px);
            line-height: rem(20px);

            // Icon
            &:before {
                width: rem(11px);
                height: rem(14px);
            }

            // Faux faded border
            &:after {
                width: calc(100% + 16px);
                height: calc(100% + 16px);
            }
        }
    }

    // Caption overrides
    .c-media-card__caption {
        display: block;
    }
}

// Imports
// =============================================================================
// Import our remaining pieces
@import 'content--spacer';
@import 'content--divider';
@import 'content--image';
@import 'content--media-media';
@import 'content--video';
@import 'content--text';
@import 'content--text-media';
@import 'content--1up';
@import 'content--people';
@import 'content--people-with-descriptions';
@import 'content--resource-group';
