
// *****************************************************************************
// =============================================================================
// Components: Content 2-media module
// =============================================================================
// This file contains the content 2-media component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-content__2-media {
    display: flex;
    align-items: center;
    flex-direction: column;

    // From tablet
    @media (min-width: $from-tablet) {
        align-items: flex-start;
        flex-direction: row;
    }

    // Media card overrides
    .c-media-card {
        margin-top: rem(30px);

        // Modify first child
        &:first-child {
            margin-top: 0;
        }

        // From tablet
        @media (min-width: $from-tablet) {
            margin: 0;
            margin-left: rem(20px);

            // Modify first child
            &:first-child {
                margin-left: 0;
            }
        }

        // From desktop
        @media (min-width: $from-desktop) {
            margin-left: rem(40px);
        }
    }
}
