
// *****************************************************************************
// =============================================================================
// Components: Content spacer module
// =============================================================================
// This file contains the content spacer component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-content__spacer {
    margin-top: 0;
    height: rem(20px);

    // From tablet
    @media (min-width: $from-tablet) {
        height: rem(40px);
    }
}
