
// *****************************************************************************
// =============================================================================
// Components: Content 1up module
// =============================================================================
// This file contains the content 1up component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-content__1up {

    // From tablet
    @media (min-width: $from-tablet) {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    // Is right aligned
    &.-is-right-aligned {

        // From tablet
        @media (min-width: $from-tablet) {
            flex-direction: row-reverse;
        }

        // Set margins for cards within a grid item
        .c-media-card,
        .c-text-card {

            // From tablet
            @media (min-width: $from-tablet) {

                // Remove top margin from first child
                &:first-child {
                    margin-top: 0 !important;
                    margin-right: 0;
                    margin-bottom: 0 !important;
                    margin-left: rem(20px);
                }

                // Remove bottom margin from last child
                &:last-child {
                    margin-top: 0 !important;
                    margin-right: rem(20px);
                    margin-bottom: 0 !important;
                    margin-left: 0;
                }
            }
        }
    }

    // Set margins for cards within a grid item
    .c-media-card,
    .c-text-card {

        // From tablet
        @media (min-width: $from-tablet) {
            margin-right: rem(20px);
            margin-left: rem(20px);

            // Remove top margin from first child
            &:first-child {
                margin-left: 0;
            }

            // Remove bottom margin from last child
            &:last-child {
                margin-right: 0;
            }
        }
    }

    // Media card overrides
    .c-media-card {
        // From tablet
        @media (min-width: $from-tablet) {
            width: calc(50% - 20px);
        }
    }

    // Text card overrides
    .c-text-card {
        margin-top: rem(20px);
        text-align: left;

        // From tablet
        @media (min-width: $from-tablet) {
            margin-top: 0;
            padding: 0;
            width: calc(50% - 20px);
            text-align: left;
        }
    }

    // Text card body overrides
    .c-text-card__body {
        @extend %f-body;
        @extend %-is-b3;

        // Paragraphs
        p {
            margin: rem(10px) 0;

            // From tablet
            @media (min-width: $from-tablet) {
                margin: rem(12px) 0;
            }
        }

        // Lists
        ul {
            margin-top: rem(15px);
            margin-left: rem(15px);
            list-style-type: disc;
            list-style-position: inside;

            li {
                margin-top: rem(10px);
            }
        }
        ol {
            margin-top: rem(15px);
            margin-left: rem(15px);
            list-style-type: decimal;
            list-style-position: inside;

            li {
                margin-top: rem(10px);
            }
        }
        ul ul, ol ul {
            margin-left: rem(15px);
            list-style-type: circle;
            list-style-position: inside;
        }
        ol ol, ul ol {
            margin-left: rem(15px);
            list-style-type: lower-latin;
            list-style-position: inside;
        }
    }

    // Text card button overrides
    .c-text-card__button {
        padding: 0;
        text-decoration: none !important;
        color: $gray-8 !important;
        background: none !important;

        // Text
        span {
            margin-right: 5px;
        }

        // Add arrow
        svg {
            max-width: rem(17px);
            max-height: rem(10px);
            fill: currentColor;
        }

        // Hover
        &:hover {
            svg {
                fill: $link-hover-color;
            }
        }

    }
}
