// =============================================================================
// Components: Featured Maps
// =============================================================================
// This file styles the featured map grids

// Component Frame
// =============================================================================

.c-featured-maps {
    display: flex;
    flex-wrap: wrap;
}

// Component Modifiers
// =============================================================================

// Component Elements
// =============================================================================

.c-featured-maps__map {
    flex: 0 0 50%;
    max-width: 50%;

    // at or above 900px
    @include media(">=medium") {
        flex-basis: 25%;
        max-width: 25%;
    }
}
