
// *****************************************************************************
// =============================================================================
// Components: Filters
// =============================================================================
// This file contains the filters component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-filters {
    @extend %-is-ui-3;

    // From tablet
    @media (min-width: $from-tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(4px);
    }
}

// Narrowing filters
// =============================================================================
.c-filter__narrow {

    // From tablet
    @media (min-width: $from-tablet) {
        display: flex;
        align-items: center;
    }

    // Filter wrapper
    li {
        margin-bottom: rem(15px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin-right: rem(15px);
            margin-bottom: 0;
        }
    }
}

// Total
// =============================================================================
.c-filter__total {
    // Import font classes
    @extend %f-ui;
    @extend %-is-ui-1;

    // Set component defaults
    display: none;

    // From tablet
    @media (min-width: $from-tablet) {
        display: block;
    }
}
