
// *****************************************************************************
// =============================================================================
// Components: Header utility
// =============================================================================
// This file contains the header utility component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-header__utility {
    position: relative;
    padding-top: rem(7px);
    padding-right: rem(20px);
    padding-bottom: rem(7px);
    padding-left: rem(20px);
    text-align: right;
    border-bottom: $header-utility-border;
    background-color: $header-utility-background;
    z-index: 2;

    // Has custom header and footer
    .-has-custom-header-footer & {
        border-bottom: 1px solid var(--color-header-utility-navigation-border);
        background-color: var(--color-header-utility-navigation-background);
    }

    // From tablet
    @media (min-width: $from-tablet) {
        display: flex;
        padding-top: 0;
        padding-right: rem(30px);
        padding-left: rem(30px);
        padding-bottom: 0;
    }

    // From desktop
    @media (min-width: $from-desktop) {
        padding-right: rem(60px);
        padding-left: rem(60px);
    }

    // Link
    a:not(.c-button) {
        text-decoration: none;
        color: $header-utility-link;

        // Hover
        &:hover {
            text-decoration: underline;
        }

        // Has custom header and footer
        .-has-custom-header-footer & {
            color: var(--color-header-utility-navigation-text);
        }
    }

    // Button
    .c-button {

        // Has custom header and footer
        .-has-custom-header-footer & {
            color: var(--color-header-utility-navigation-button-text);
            background-color: var(--color-header-utility-navigation-button-background);

            // Hover
            &:hover {
                color: var(--color-header-utility-navigation-button-text-hover);
                background-color: var(--color-header-utility-navigation-button-background-hover);
                opacity: 0.9;
            }
        }

    }
}

.c-header__utility--contact {
    font-size: 0;
    line-height: 0;

    // From tablet
    @media (min-width: $from-tablet) {
        margin-left: auto;
        padding-top: rem(9px);
        padding-bottom: rem(9px);
    }

    // Nav Item
    li {
        // Import font classes
        @extend %f-ui;
        @extend %-is-ui-2-bold;

        // Set component defaults
        display: inline-block;
        vertical-align: middle;
        margin-left: rem(20px);
    }
}

