
// *****************************************************************************
// =============================================================================
// Components: Header Sub
// =============================================================================
// This file contains the header sub component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-header__sub-nav {
    position: absolute;
    top: rem(112px);
    left: 0;
    width: 100%;
    z-index: 2000;

    // Background fill
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $gray-2;
        z-index: -1;

        // Has custom header and footer
        .-has-custom-header-footer & {
            background-color: var(--color-header-primary-navigation-background);
        }
    }

    // To tablet
    @media (max-width: $to-tablet) {
        left: 100%;
        height: calc(100vh - 112px);
    }

    // From tablet
    @media (min-width: $from-tablet) {
        top: -100vh;
        left: 0;
        height: auto;
        padding-right: rem(60px);
        padding-left: rem(60px);
        transition: top 0 0;
        transition-delay: ($speed-reveal * 2);
        visibility: hidden;
        overflow: hidden;

        // Background fill
        &::before {
            background-color: $white;
            border-bottom: rem(1px) solid $gray-4;
            transition: transform $speed-reveal $easing;
            transition-delay: $speed-reveal;
            transform-origin: center top;
            transform: scaleY(.001);

            // Has custom header and footer
            .-has-custom-header-footer & {
                background-color: var(--color-header-primary-navigation-background);
                border-bottom: rem(1px) solid var(--color-header-primary-navigation-border);
            }
        }

        // Has sub nav open
        &.-is-open {
            top: 100%;
            visibility: visible;
            transition-delay: 0s;

            // Background fill
            &::before {
                transform: scaleY(1);
                transition-delay: 0s;
            }
        }
    }

    // From desktop large
    @media (min-width: $from-desktop-lg) {
        padding-right: rem(160px);
        padding-left: rem(160px);
    }

    // Handle mobile only element
    .-is-mobile-only {
        border-top: none;

        // From tablet
        @media (min-width: $from-tablet) {
            display: none;
        }
    }

    // Has sub nav open
    &.-is-open {
        z-index: 1000;
    }

    // Cta overrides
    .c-cta {
        // Has custom header and footer
        .-has-custom-header-footer & {
            // Has arrow
            &.-has-arrow {
                // Add arrow
                svg {}
            }
        }

    }
}

// Thumbnails
// =============================================================================
.c-header__sub-thumbnails {
    // To tablet
    @media (max-width: $to-tablet) {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: $gray-2;
        transition: left $speed-reveal $easing;
        overflow: auto;
        scroll-behavior: smooth;

        // Is open
        .-is-open & {
            left: -100%;
        }

        // Has custom header and footer
        .-has-custom-header-footer & {
            background-color: var(--color-header-primary-navigation-background);
        }
    }

    // Wrapper
    ul {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        line-height: 0;

        // From tablet
        @media (min-width: $from-tablet) {
            padding-top: rem(40px);
            padding-bottom: rem(40px);
            width: auto;
            height: auto;
            overflow: hidden;
        }

        // From tablet
        @media (min-width: $from-desktop) {}
    }

    // Element
    li {
        opacity: 0;
        transition: opacity $speed-reveal $easing;

        // Has menu open
        .-is-open & {
            opacity: 1;
            transition-delay: $speed-reveal;
        }

        // To tablet
        @media (max-width: $to-tablet) {
            height: auto;
            border-top: rem(1px) solid $gray-4;

            // Has custom header and footer
            .-has-custom-header-footer & {
                border-top: rem(1px) solid var(--color-header-primary-navigation-border);
            }

            // Modify first child
            &:first-child {
                border-top: none;
            }
        }

        // From tablet
        @media (min-width: $from-tablet) {
            display: inline-block;
            vertical-align: top;
            margin-top: rem(20px);
            padding-right: rem(40px);
            width: calc(100% / 3);

            // Modify children 1, 2, and 3
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-top: 0;
            }
        }

        // From desktop
        @media (min-width: $from-desktop) {
            margin-top: 0;
            margin-left: rem(40px);
            padding-right: 0;
            width: rem(117px);

            // Modify second child
            &:nth-child(2) {
                margin-left: 0;
            }

            // View all
            &.-is-view-all {
                padding-left: rem(40px);
                height: rem(115px);
                line-height: rem(115px);
                border-left: rem(1px) solid $gray-4;

                // Has custom header and footer
                .-has-custom-header-footer & {
                    border-left: rem(1px) solid var(--color-header-primary-navigation-border);
                }
            }
        }

        // From desktop large
        @media (min-width: $from-desktop-lg) {
            width: rem(153px);
        }

        // Image
        img {
            display: block;
            margin: 0;
            margin-bottom: rem(10px);
            padding: 0;
            width: 100%;
            height: auto;

            // To tablet
            @media (max-width: $to-desktop) {
                display: none;
            }
        }

        // Title
        span {
            display: inline-block;
        }

        // CTA
        .c-cta {
            white-space: nowrap;

            // Has custom header and footer
            .-has-custom-header-footer & {
                color: var(--color-header-primary-navigation-link-hover) !important;
            }

            // To tablet
            @media (max-width: $to-tablet) {
                display: block;
                padding-top: rem(25px);
                padding-right: rem(20px);
                padding-bottom: rem(25px);
                padding-left: rem(20px);
            }
        }

    }
}

// Products
// =============================================================================
.c-header__sub-products {
    // To tablet
    @media (max-width: $to-tablet) {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: $gray-2;
        transition: left $speed-reveal $easing;
        overflow: auto;
        scroll-behavior: smooth;

        // Is open
        .-is-open & {
            left: -100%;
        }

        // Has custom header and footer
        .-has-custom-header-footer & {
            background-color: var(--color-header-primary-navigation-background);
        }
    }

    // "All Products" thumbnail
    .-is-thumbnail {
        display: none;

        // From desktop-lg
        @media (min-width: $from-desktop-lg) {
            display: block;
        }
    }

    // Wrappers
    ul {
        // Root
        &.-is-root {
            opacity: 0;
            transition: opacity $speed-reveal $easing;

            // Has menu open
            .-is-open & {
                opacity: 1;
                transition-delay: $speed-reveal;
            }
        }

        // Secondary
        &.-is-secondary {
            // From tablet
            @media (min-width: $from-tablet) {
                display: inline-block;
                vertical-align: top;
                position: relative;
                padding-top: rem(40px);
                padding-left: rem(20px);
                padding-bottom: rem(40px);
                width: 50%;

                // Faux border
                &::after {
                    content: "";
                    position: absolute;
                    top: 40px;
                    left: -1px;
                    width: 1px;
                    height: calc(100% - 80px);
                    background-color: $gray-4;

                    // Has custom header and footer
                    .-has-custom-header-footer & {
                        background-color: var(--color-header-primary-navigation-border);
                    }
                }

                // Modify first child
                &:first-child {
                    padding-right: rem(20px);
                    padding-left: 0;

                    // Faux border
                    &::after {
                        left: auto;
                        right: 0;
                    }
                }

                // Modify last child
                &:last-child {
                    width: 100%;
                    width: calc(100% + #{rem(120px)});
                    margin-left: -#{rem(60px)};
                    margin-right: -#{rem(60px)};
                    padding-left: 0;
                    text-align: center;
                    border-top: 1px solid $gray-4;

                    // Faux border
                    &::after {
                        display: none;
                    }
                }
            }

            // From desktop
            @media (min-width: $from-desktop) {
                padding-left: rem(40px);

                // Modify first child
                &:first-child {
                    padding-right: rem(40px);
                }
            }

            // From desktop-lg
            @media (min-width: $from-desktop-lg) {
                width: math.percentage(math.div(1, 3)) !important;

                // Modify last child
                &:last-child {
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: rem(40px);
                    text-align: left;
                    border-top: none;

                    // Faux border
                    &::after {
                        display: block;
                    }
                }
            }
        }

        // Tertiary
        &.-is-tertiary {
            // From tablet
            @media (min-width: $from-tablet) {
                display: inline-block;
                vertical-align: top;
                margin: rem(10px);
                width: calc((100% / 2) - 20px);

                // Add top and bottom spacing to individual links
                li {
                    margin-top: rem(10px);
                    margin-bottom: rem(10px);

                    // Remove bottom spacing from last child
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
            }

            // From desktop
            @media (min-width: $from-desktop) {
                margin: rem(20px);
                width: calc((100% / 2) - 40px);
            }
        }

        // Is hidden on mobile
        &.-is-hidden-mobile {

            // To tablet
            @media (max-width: $to-tablet) {
                display: none;
            }
        }
    }

    // Elements
    li {
        // To tablet
        @media (max-width: $to-tablet) {
            &.-is-view-all {
                border-top: rem(1px) solid $gray-4;

                // Has custom header and footer
                .-has-custom-header-footer & {
                    border-top: rem(1px) solid var(--color-header-primary-navigation-border);
                }
            }
        }

        // From tablet
        @media (min-width: $from-tablet) {
            // Is mobile only
            &.-is-mobile-only {
                display: none !important;
            }

            // Force no border use case
            &.-is-view-all {
            }
        }

        // Root
        &.-is-root-element {

            // To tablet
            @media (max-width: $to-tablet) {

                // Force no border use case
                &.-is-view-all + li {
                    border-top: none;
                }

                // Force no border use case
                .-is-view-all & {
                    border-bottom: none;
                }

                // Force border use case
                ul li ul li,
                ul:first-child li ul li {
                    border-top: rem(1px) solid $gray-4 !important;

                    // Has custom header and footer
                    .-has-custom-header-footer & {
                        border-top: rem(1px) solid var(--color-header-primary-navigation-border) !important;
                    }
                }
            }

            // From tablet
            @media (min-width: $from-tablet) {
                font-size: 0;
                line-height: 0;
            }
        }

        // Secondary
        &.-is-secondary-element {
            position: relative;
            z-index: 1;

            // From tablet
            @media (min-width: $from-tablet) {
                // Is second child
                &:nth-child(2) {
                    margin-top: rem(-10px);
                    margin-right: rem(-10px);
                    margin-bottom: rem(-10px);
                    margin-left: rem(-10px);
                    width: calc(100% + 20px);
                }
            }

            // From desktop
            @media (min-width: $from-desktop) {
                // Is second child
                &:nth-child(2) {
                    // margin-top: rem(-20px);
                    margin-right: rem(-20px);
                    margin-bottom: rem(-20px);
                    margin-left: rem(-20px);
                    width: calc(100% + 40px);
                }
            }

            &.-is-view-all {
                display: block;
                z-index: 2;
                @media (min-width: $from-desktop-lg) {
                    display: flex;
                    align-items: center;
                    height: rem(182px);
                }
            }

            // subheadlines
            &.-is-secondary-headline {

                .c-header__sub-list-title {
                    // From tablet
                    @media (min-width: $from-tablet) {
                        font-size: rem(16px);
                    }
                }
            }
        }
    }

    // Sub link overrides
    .c-header__sub-link {
        // From tablet
        @media (min-width: $from-tablet) {
            font-size: rem(14px);
            font-weight: $medium;
            color: $gray-55;
            letter-spacing: 0;
            line-height: rem(18px);

            // Has custom header and footer
            .-has-custom-header-footer & {
                color: var(--color-header-primary-navigation-link);

                &:hover {
                    color: var(--color-header-primary-navigation-link-hover);
                }
            }
        }
    }

    // CTA
    .c-cta {
        white-space: nowrap;

        // Has custom header and footer
        .-has-custom-header-footer & {
            color: var(--color-header-primary-navigation-link-hover) !important;
        }

        // To tablet
        @media (max-width: $to-tablet) {
            display: block;
            padding-top: rem(25px);
            padding-right: rem(20px);
            padding-bottom: rem(25px);
            padding-left: rem(20px);
        }
    }
}

// Projects
// =============================================================================
.c-header__sub-projects {
    // To tablet
    @media (max-width: $to-tablet) {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: $gray-2;
        transition: left $speed-reveal $easing;
        overflow: auto;
        scroll-behavior: smooth;

        // Is open
        .-is-open & {
            left: -100%;
        }

        // Has custom header and footer
        .-has-custom-header-footer & {
            background-color: var(--color-header-primary-navigation-background);
        }

    }

    // Wrapper
    ul:not(.c-header__sub-list) {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        line-height: 0;

        // there needs to be an element for the child margins to take effect
        // really, really not sure why...
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
        }

        // From tablet
        @media (min-width: $from-tablet) {
            padding-top: rem(40px);
            padding-bottom: rem(40px);
            width: auto;
            height: auto;
            overflow: hidden;
            &::after {
                display: none;
            }
        }

        // From tablet
        @media (min-width: $from-desktop) {}
    }

    // Element
    li {
        opacity: 0;
        transition: opacity $speed-reveal $easing;

        // Has menu open
        .-is-open & {
            opacity: 1;
            transition-delay: $speed-reveal;
        }

        // To tablet
        @media (max-width: $to-tablet) {
            height: auto;

            // Modify first child
            &:first-child {
                border-top: none;
            }

            // Is view all
            &.-is-view-all {
                margin-bottom: 120px; // Fix mobile-only scrolling issue
                border-top: rem(1px) solid $gray-4;

                // Has custom header and footer
                .-has-custom-header-footer & {
                    border-top: rem(1px) solid var(--color-header-primary-navigation-border);
                }
            }
        }

        // From tablet
        @media (min-width: $from-tablet) {
            display: inline-block;
            vertical-align: top;
            padding-right: rem(40px);
            width: calc(100% / 5);
        }

        // From desktop
        @media (min-width: $from-desktop) {
            margin-top: 0;
            margin-left: rem(40px);
            padding-right: 0;
            width: rem(117px);

            // Modify second child
            &:nth-child(2) {
                margin-left: 0;
            }

            // View all
            &.-is-view-all {
                padding-left: rem(40px);
                height: rem(182px);
                line-height: rem(182px);
                border-left: rem(1px) solid $gray-4;

                // Has custom header and footer
                .-has-custom-header-footer & {
                    border-left: rem(1px) solid var(--color-header-primary-navigation-border);
                }
            }
        }

        // From desktop large
        @media (min-width: $from-desktop-lg) {
            width: rem(153px);
        }

        // Image
        img {
            display: block;
            margin: 0;
            margin-bottom: rem(10px);
            padding: 0;
            width: 100%;
            height: auto;

            // To tablet
            @media (max-width: $to-desktop) {
                display: none;
            }
        }

        // CTA
        .c-cta {
            white-space: nowrap;

            // Has custom header and footer
            .-has-custom-header-footer & {
                color: var(--color-header-primary-navigation-link-hover) !important;
            }

            // To tablet
            @media (max-width: $to-tablet) {
                display: block;
                padding-top: rem(25px);
                padding-right: rem(20px);
                padding-bottom: rem(25px);
                padding-left: rem(20px);
            }
        }

    }

    // Sub list
    .c-header__sub-list {
        // To tablet
        @media (max-width: $to-tablet) {
            padding-top: 0 !important;
        }

        li {
            // To tablet
            @media (max-width: $to-tablet) {
                border-top: rem(1px) solid $gray-4;

                &:not(.c-header__sub-list-title) {
                    padding: 0;
                }

                // Has custom header and footer
                .-has-custom-header-footer & {
                    border-top: rem(1px) solid var(--color-header-primary-navigation-border);
                }
            }

            // From tablet
            @media (min-width: $from-tablet) {
                margin: 0;
                margin-top: rem(10px);
                width: 100%;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .c-header__sub-list-title {
        // From tablet
        @media (min-width: $from-tablet) {
            font-size: rem(16px);
            letter-spacing: rem(-0.02px);
            line-height: rem(20px);
        }
    }

    // Sub link overrides
    .c-header__sub-link {
        // From tablet
        @media (min-width: $from-tablet) {
            font-size: rem(14px);
            font-weight: $medium;
            color: $gray-55;
            letter-spacing: 0;
            line-height: rem(18px);

            // Has custom header and footer
            .-has-custom-header-footer & {
                color: var(--color-header-primary-navigation-link);

                &:hover {
                    color: var(--color-header-primary-navigation-link-hover);
                }
            }

        }
    }
}

// Title
// =============================================================================
.c-header__sub-title {
    // Import font display styles into our heading
    @extend %f-navigation;

    // Set defaults
    display: block;
    position: relative;
    width: 100%;
    padding-top: rem(25px);
    padding-right: rem(20px);
    padding-bottom: rem(25px);
    padding-left: rem(20px);
    background-color: $white;

    // Caret
    svg {
        position: absolute;
        top: 50%;
        left: rem(20px);
        display: block;
        width: rem(6px);
        height: rem(10px);
        transform: translateY(-50%);
        fill: $gray-8;
    }

    // Has custom header and footer
    .-has-custom-header-footer & {
        color: var(--color-header-primary-navigation-text);
        background-color: var(--color-header-primary-navigation-background);

        // Caret
        svg {
            fill: var(--color-header-primary-navigation-text);
        }
    }

}

// Link
// =============================================================================
.c-header__sub-link {
    // Import font display styles into our heading
    @extend %f-navigation;

    // Set defaults
    display: block;
    text-decoration: none;

    // To tablet
    @media (max-width: $to-tablet) {
        padding-top: rem(25px);
        padding-right: rem(20px);
        padding-bottom: rem(25px);
        padding-left: rem(20px);
    }

    // Hover
    &:hover {
        color: $link-primary-color;
    }

    // Has custom header and footer
    .-has-custom-header-footer & {
        color: var(--color-header-primary-navigation-link);

        &:hover {
            color: var(--color-header-primary-navigation-link-hover);
        }
    }

}

// List title
// =============================================================================
.c-header__sub-list-title {
    // Import font classes
    @extend %f-ui;
    @extend %-is-ui-2-bold;

    // Set defaults
    display: block;

    // To tablet
    @media (max-width: $to-tablet) {
        padding-top: rem(25px);
        padding-right: rem(20px);
        padding-bottom: rem(25px);
        padding-left: rem(20px);
    }

    // Has custom header and footer
    .-has-custom-header-footer & {
        color: var(--color-header-primary-navigation-text);
    }

    // Header links
    .c-header__sub-title-link {
        text-decoration: none;

        // hover, focus
        @include u-hocus {
            color: var(--color-accent-primary);
        }

        // Has custom header and footer
        .-has-custom-header-footer & {
            color: var(--color-header-primary-navigation-text);

            // hover, focus
            @include u-hocus {
                color: var(--color-header-primary-navigation-link-hover);
            }
        }
    }
}
