
// *****************************************************************************
// =============================================================================
// Components: Header navigation
// =============================================================================
// This file contains the header navigation component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-header__navigation {
    // To tablet
    @media (max-width: $to-tablet) {
        position: absolute;
        top: rem(112px);
        left: 0;
        width: 100%;
        height: 0;
        transition-delay: ($speed-reveal * 2);
        visibility: hidden;
        z-index: 1000;

        // Has menu open
        .-has-menu-open & {
            visibility: visible;
            height: calc(100vh - 112px);
            transition-delay: 0s;
        }

        // Background fill
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $white;
            transition: transform $speed-reveal $easing;
            transition-delay: $speed-reveal;
            transform-origin: center top;
            transform: scaleY(.001);
            z-index: -1;

            // Has menu open
            .-has-menu-open & {
                transform: scaleY(1);
                transition-delay: 0s;
            }

            // Has dark header and footer
            .-has-custom-header-footer & {
                background-color: var(--color-header-primary-navigation-background);
            }
        }
    }

    // From tablet
    @media (min-width: $from-tablet) {
        margin-left: auto;
        width: auto;

        // Is left aligned
        &.-is-left-aligned {
            margin-left: rem(30px);
            margin-right: auto;
        }

        // Is right aligned
        &.-is-right-aligned {

            // Shrink search toggle hard
            & + .c-header__search-frame {
                flex-basis: auto;
            }
        }

        // Is center aligned
        &.-is-center-aligned {
            margin-left: 0;
            margin-right: 0;

            // Wrapper
            ul li:not([class]):first-child {
                margin-left: auto;
            }
            ul li:not([class]):last-child {
                margin-right: auto;
            }
        }
    }

    // Wrapper
    ul {
        display: block;
        position: relative;
        left: 0;
        width: 100%;
        height: 100%;
        transition: left $speed-reveal $easing;
        overflow: auto;
        scroll-behavior: smooth;

        // Has sub nav open
        .-has-sub-nav-open & {
            left: -100%;
        }

        // From tablet
        @media (min-width: $from-tablet) {
            display: flex;
            flex: 1;
            flex-direction: row;
            margin-left: rem(30px);
            margin-right: rem(30px);
            width: auto;
            height: auto;
            transition: none;
            overflow: visible;

            // Has sub nav open
            .-has-sub-nav-open & {
                left: 0;
            }
        }
    }

    // Element
    li {
        // To tablet
        @media (max-width: $to-tablet) {
            border-top: rem(1px) solid $gray-4;
            opacity: 0;
            transition: opacity $speed-reveal $easing;

            // Modify first child
            &:first-child {
                border-top: none;
            }

            // Fix mobile-only scrolling issue
            &:last-child {
                margin-bottom: 120px;
                border-bottom: rem(1px) solid $gray-4;
            }

            // Has menu open
            .-has-menu-open & {
                opacity: 1;
                transition-delay: $speed-reveal;
            }

            // Has custom header and footer
            .-has-custom-header-footer &:not(:first-child) {
                border-top: rem(1px) solid var(--color-header-primary-navigation-border);
            }

            .-has-custom-header-footer &:last-child {
                border-bottom: rem(1px) solid var(--color-header-primary-navigation-border);
            }
        }

        // From tablet
        @media (min-width: $from-tablet) {
            margin-left: rem(14px);

            // Modify first child
            &:first-child {
                margin-left: 0;
            }

            // Is mobile only
            &.-is-mobile-only {
                display: none;
            }
        }

        // From desktop
        @media (min-width: $from-desktop) {
            margin-left: rem(20px);
        }

        // From desktop-lg
        @media (min-width: $from-desktop-lg) {
            margin-left: rem(18px);
        }
    }
}

// Navigation
// =============================================================================
.c-header__navigation-link {
    // Import font display styles into our heading
    @extend %f-navigation;

    // Set defaults
    display: block;
    transition: color $speed-hover $easing;
    text-decoration: none;
    color: $header-primary-color;

    // Has menu open
    .-has-menu-open & {
        transition-delay: $speed-reveal;
    }

    // Has custom header and footer
    .-has-custom-header-footer & {
        color: var(--color-header-primary-navigation-link);

        // Hover
        &:hover {
            color: var(--color-header-primary-navigation-link-hover);
        }
    }

    // Additional mobile utility nav
    &.-is-utility {
        flex-direction: column;
        align-items: flex-start;
        background-color: $gray-2;
        color: $gray-6;

        // Headline
        & > strong {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-weight: $bold;
            // Icon
            svg {
                display: block;
                fill: $gray-6;
            }
            .u-internal {
                width: rem(6px);
                height: rem(10px);
            }
            .u-external {
                width: rem(11px);
                height: rem(11px);
            }
        }

        // Subheadline
        & > span {
            margin-top: rem(14px);
            font-size: rem(13px);
            font-weight: $medium;
            line-height: rem(19px);
        }

        // Text
        & > p {
            margin-top: 0;
            margin-bottom: 0;
            font-size: rem(13px);
            font-weight: $normal;
            line-height: rem(19px);
        }
    }

    // Hover
    &:hover {
        color: $link-primary-color;
    }

    // Has sub navigation
    &[data-module-sub-nav-toggle] {
        // Caret
        svg {
            display: block;
            width: rem(6px);
            height: rem(10px);
            fill: $gray-8;

            // Has custom header and footer
            .-has-custom-header-footer & {
                fill: var(--color-header-primary-navigation-text);
            }
        }
    }

    // To tablet
    @media (max-width: $to-tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: rem(25px);
        padding-right: rem(20px);
        padding-bottom: rem(25px);
        padding-left: rem(20px);
    }

    // From tablet
    @media (min-width: $from-tablet) {
        position: relative;
        font-size: rem(14px);

        // to account for missing svg arrow
        &:not([data-module-sub-nav-toggle]) {
            margin-right: 14px;
        }

        // Has sub navigation
        &[data-module-sub-nav-toggle] {
            display: flex;
            align-items: center;

            // Caret
            svg {
                margin-left: 8px;
                opacity: 0;
                transform: rotate(90deg);
                transition: opacity $speed-hover $easing,
                            fill $speed-hover $easing;
            }

            &:hover {
                svg {
                    opacity: 1;
                    fill: $link-primary-color;
                }

                // Has custom header and footer
                .-has-custom-header-footer & {
                    // Caret
                    svg {
                        fill: var(--color-header-primary-navigation-link-hover);
                    }
                }
            }

            // to account for added svg arrow and faux line
            &:before {
                width: calc(100% - 14px);
            }

            // Has sub nav open
            &.-is-open {

                color: $link-primary-color;

                //
                @include u-hocus {
                    color: $link-primary-color;
                }

                // Caret
                svg {
                    opacity: 1;
                    fill: $link-primary-color;
                    transform: rotate(270deg);
                }

                // Has custom header and footer
                .-has-custom-header-footer & {

                    @include u-hocus {
                        color: var(--color-header-primary-navigation-link-hover);

                        svg {
                            fill: var(--color-header-primary-navigation-link-hover);
                        }
                    }
                }
            }
        }

        // Faux line
        &:before {
            content: '';
            position: absolute;
            bottom: rem(-32px);
            left: 0;
            width: 100%;
            height: rem(4px);
            background-color: $link-primary-color;
            background-image: none;
            opacity: 0;
            transition: opacity $speed-hover $easing;

            // From tablet
            @media (min-width: $from-tablet) {
                bottom: rem(-42px);
            }

            // From desktop
            @media (min-width: $from-desktop) {
                bottom: rem(-40px);
            }

            // Has custom header and footer
            .-has-custom-header-footer & {
                background-color: var(--color-header-primary-navigation-link-hover);
            }
        }

        &:hover,
        &.-is-open,
        html:not(.-has-sub-nav-open) &.-is-active {
            // Faux line
            &:before {
                opacity: 1;
                .-has-custom-header-footer & {
                    background-color: var(--color-header-primary-navigation-link-hover);
                }
            }
        }
    }

    // From desktop
    @media (min-width: $from-desktop) {
        font-size: rem(15px);
        letter-spacing: rem(-0.02px);
        line-height: rem(25px);
    }

    // From desktop-lg
    @media (min-width: $from-desktop-lg) {
        font-size: rem(18px);
    }
}
