
// *****************************************************************************
// =============================================================================
// Components: Header search
// =============================================================================
// This file contains the header search component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-header__search {
    overflow: hidden;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 0;
    transition-delay: ($speed-reveal * 2);
    visibility: hidden;
    z-index: -1;

    // Has search open
    .-has-search-open & {
        top: 100%;
        visibility: visible;
        height: rem(52px);
        transition-delay: 0s;
        z-index: 1000;
    }

    // Background fill
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $white;
        border-bottom: rem(1px) solid $gray-4;
        transition: transform $speed-reveal $easing;
        transition-delay: $speed-reveal;
        transform-origin: center top;
        transform: scaleY(.001);
        z-index: -1;

        // Has search open
        .-has-search-open & {
            transform: scaleY(1);
            transition-delay: 0s;
        }

        // Has custom header and footer
        .-has-custom-header-footer & {
            background-color: var(--color-header-primary-navigation-background);
            border-bottom: rem(1px) solid var(--color-header-primary-navigation-border);
        }
    }

    // From desktop
    @media (min-width: $from-desktop) {
        padding-right: rem(30px);
        padding-left: rem(30px);

        // Has search open
        .-has-search-open & {
            height: rem(64px);
        }
    }

    // Form overrides
    form {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;

        label {
            width: 100%;
            height: 100%;
        }
    }
}

// Search field
// =============================================================================
.c-header__search-field {
    // Import font display styles into our heading
    @extend %f-navigation;
    padding-right: rem(20px);
    padding-left: rem(20px);
    letter-spacing: rem(-0.02px);
    line-height: rem(52px);
    opacity: 0;
    transition: opacity $speed-reveal $easing;

    // Modify first child
    &:first-child {
        border-top: none;
    }

    // Has search open
    .-has-search-open & {
        opacity: 1;
        transition-delay: $speed-reveal;
    }

    // Has custom header and footer
    .-has-custom-header-footer & {
        color: var(--color-header-primary-navigation-text);
    }

    // From desktop
    @media (min-width: $from-desktop) {
        padding-right: 0;
        padding-left: rem(30px);
        font-size: rem(18px);
        font-weight: $normal;

        // Has search open
        .-has-search-open & {
            line-height: rem(64px);
        }
    }

    // Placholder
    &::placeholder {
        // Import font display styles into our heading
        @extend %f-navigation;

        // Set defaults
        font-weight: normal;

        // From desktop
        @media (min-width: $from-desktop) {
            transition: color $speed-hover $easing;
            font-size: rem(18px);
            font-weight: $normal;
            line-height: rem(40px);
            color: $white;
        }

        // Active searching
        .-has-search-open & {
            color: $gray-6;
        }

        // Has custom header and footer
        .-has-custom-header-footer.-has-search-open & {
            color: var(--color-header-primary-navigation-text);
        }
    }
}

// Search submit
// =============================================================================
.c-header__search-submit {
    position: absolute;
    top: 50%;
    right: rem(20px);
    margin-left: rem(10px);
    width: rem(16px);
    height: rem(16px);
    opacity: 0;
    text-indent: rem(-2000px);
    transform: translateY(-50%);
    transition: opacity $speed-reveal $easing;
    overflow: hidden;

    // Text
    span {
        position: absolute;
    }

    // Icon file
    svg {
        display: block;
        max-width: rem(12px);
        max-height: rem(12px);
        margin-left: auto;
        margin-right: auto;
        fill: $gray-8;

        // From desktop
        @media (min-width: $from-desktop) {
            max-width: rem(13px);
            max-height: rem(13px);
        }

        // Has custom header and footer
        .-has-custom-header-footer & {
            fill: var(--color-header-primary-navigation-text);
        }
    }

    // Modify first child
    &:first-child {
        border-top: none;
    }

    // Has search open
    .-has-search-open & {
        opacity: 1;
        transition-delay: $speed-reveal;
        z-index: 1000;
    }

    // From tablet
    @media (min-width: $from-tablet) {
        right: rem(30px);
        margin-left: 0;
    }

    // From desktop
    @media (min-width: $from-desktop) {
        right: rem(60px);
        width: rem(40px);
        height: rem(40px);
        border: 1px solid $gray-4;
        pointer-events: none;

        // Has rounded buttons
        .-has-round-edge-buttons & {
            border-radius: 22px;
        }

        // Has soft edge buttons
        .-has-soft-edge-buttons & {
            border-radius: rem(5px);
        }

        // Has hard edge buttons
        .-has-hard-edge-buttons & {
            border-radius: 0;
        }

        // Has search open
        .-has-search-open & {
            pointer-events: auto;
        }

        // Has custom header and footer
        // TODO: Search Icon Border
        .-has-custom-header-footer & {
            border: 1px solid var(--color-header-primary-navigation-border);
        }
    }
}

// Search frame
// =============================================================================
.c-header__search-frame {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: auto;

    // From tablet
    @media (min-width: $from-tablet) {
        flex-shrink: 1;
        margin-left: 0;
        flex-basis: rem(148px);
        max-width: rem(148px);
        min-width: rem(16px);
        text-align: right;
    }

    // From desktop
    @media (min-width: $from-desktop-lg) {
        flex-basis: rem(176px);
        max-width: rem(176px);
    }

    // From desktop large
    @media (min-width: $from-desktop-lg) {
        flex-basis: rem(200px);
        max-width: rem(200px);
    }
}

// Search toggle
// =============================================================================
.c-header__search-toggle {
    position: relative;
    width: rem(16px);
    height: rem(16px);

    // Icon file
    svg {
        display: block;
        max-width: rem(16px);
        max-height: rem(16px);
        fill: $gray-8;

        // Has custom header and footer
        .-has-custom-header-footer & {
            fill: var(--color-header-primary-navigation-text);
        }

        // From desktop
        @media (min-width: $from-desktop) {
            width: rem(12px);
            height: rem(12px);
        }
    }

    // Search
    .-search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        transition: opacity $speed-hover $easing, transform $speed-hover $easing;
        opacity: 1;

        // Has search open
        .-has-search-open & {
            transform: translate(-50%, -50%) rotate(90deg);
            opacity: 0;
        }
    }

    // Close
    .-close {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        transform-origin: center center;
        transition: opacity $speed-hover $easing, transform $speed-hover $easing;
        opacity: 0;

        // Has search open
        .-has-search-open & {
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 1;
        }
    }

    // From tablet
    @media (min-width: $from-tablet) {
        margin-left: auto;
    }

    // From desktop
    @media (min-width: $from-desktop) {
        width: rem(40px);
        height: rem(40px);
        height: rem(40px);
        border: $header-menu-toggle-border;
        border-radius: $header-menu-toggle-radius;
        color: transparent;

        // Has rounded buttons
        .-has-round-edge-buttons & {
            border-radius: 22px;
        }

        // Has soft edge buttons
        .-has-soft-edge-buttons & {
            border-radius: rem(5px);
        }

        // Has hard edge buttons
        .-has-hard-edge-buttons & {
            border-radius: 0;
        }

        // Has custom header and footer
        // TODO: Search Icon Border
        .-has-custom-header-footer & {
            border: 1px solid var(--color-header-primary-navigation-border);
        }
    }
}
