
// *****************************************************************************
// =============================================================================
// Components: Mao card
// =============================================================================
// This file contains the map card component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-map-card {
    position: relative;
    font-size: rem(12px);
    width: 100%;
    min-width: rem(200px);
    height: 100%;
    min-height: rem(200px);
    background-color: $gray-4;

    // Format rendered map
    .smartmap-mapcanvas {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
