// =============================================================================
// Components: Navigation
// =============================================================================
// This file styles the main/primary navigation menu

// Component Frame
// =============================================================================

.c-navigation {
    display: none;

    // at or above 900px
    @include media(">=medium") {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        column-gap: 1em;
        margin-right: $gutter-xs;
        padding: 0;
    }

    // at or above 1200px
    @include media(">=large") {
        column-gap: 2em;
        margin-right: $gutter-sm;
    }
}

.c-subnav {
    flex: 0 0 100%;
    background-color: shade($red, 20%);

    // at or above 900px
    @include media(">=medium") {
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 230px;
        padding: 0.5em;
        background-color: $red;
        color: $white;
    }
}

// Component Modifiers
// =============================================================================

// Component Elements
// =============================================================================

.c-navigation__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid shade($red, 10%);

    // at or above 900px
    @include media(">=medium") {
        position: relative;
        border-bottom: 0;
        // padding-top: 1em;
        // padding-bottom: 1em;

        // // extra space for caret
        // &.-with-dropdown {
        //     padding-right: 14px;
        // }
    }

    .c-link {
        flex: 1 0 auto;
        transition: background $speed-reveal $bezier-slide,
                    color $speed-reveal $bezier-slide;

        // hover or focus
        @include u-hocus {
            background-color: $white;
            color: $dark;
        }

        // below 900px
        @include media("<medium") {
            display: block;
            padding: math.div($gutter-xs, 2) $gutter-xs;
            background-image: none;
        }

        // at or above 900px
        @include media(">=medium") {
            display: inline-block;
            padding: 0.2em 0;
            background-image: linear-gradient($red, $red);
        }
    }

    // dropdown arrow
    .c-button.-caret {
        flex: 0 1 auto;
        padding: math.div($gutter-xs, 2) $gutter-sm;
        border-left: 1px solid shade($red, 20%);

        // at or above 900px
        @include media(">=medium") {
            padding: 0.5em;
            border-left: 0;
            background-color: transparent;
            color: $red
        }

        // make sure button element is only clickable target
        .c-image.-svg {
            transition: transform $speed-reveal $bezier-back;
            pointer-events: none;
        }

        // when clicked
        &.-is-open {
            .c-image.-svg {
                transform: rotate(180deg);
            }
        }

        // hover or focus
        @include u-hocus {
            box-shadow: none;
        }
    }
}

.c-subnav__item {

    // below 900px
    @include media("<medium") {
        display: block;
        border-bottom: 1px solid shade($red, 20%);

        .c-link {
            padding-left: $gutter-sm;

            // hover or focus
            @include u-hocus {
                background-color: $light;
                color: $dark;
            }
        }
    }

    // at or above 900px
    @include media(">=medium") {
        padding: 0.5em;

        .c-link {
            display: inline-block;
            padding: 0;
            background-image: linear-gradient($light, $light);

            // hover or focus
            @include u-hocus {
                background-color: transparent;
                color: $white;
            }
        }
    }

}
