// =============================================================================
// Components: Navigation
// =============================================================================
// This file styles the main/primary navigation menu

// Component Frame
// =============================================================================

.c-navigation {
    display: none;
    padding: math.div($gutter-xs, 2) $gutter-xs;

    // at or above 900px
    @include media(">=medium") {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        column-gap: 1em;
        margin-right: $gutter-xs;
        padding: 0;
    }

    // at or above 1200px
    @include media(">=large") {
        column-gap: 2em;
        margin-right: $gutter-sm;
    }
}

// Component Modifiers
// =============================================================================

// Component Elements
// =============================================================================

.c-navigation__item {

    .c-link {
        display: inline-block;
        padding: 0.5em 0;
    }
}
