
// *****************************************************************************
// =============================================================================
// Components: Product profile page intro
// =============================================================================
// This file contains the product profile page intro component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-intro__product-profile {
    background-color: transparent;
    overflow: visible;

    // From tablet
    @media (min-width: $from-tablet) {
        padding-right: rem(60px);
        padding-left: rem(60px);
    }

    // Breadcrumb overrides
    .c-page-breadcrumb {
        position: relative;
        top: auto;
        left: auto;
        margin: rem(20px);
        opacity: 0.66;

        // From tablet
        @media (min-width: $from-tablet) {
          margin: rem(30px) 0;
        }
    }

    // Info overrrides
    .c-product-info-card {
        margin: rem(30px) rem(20px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin: rem(30px) 0;
        }

        // From desktop
        @media (min-width: $from-desktop) {
            margin: 0;
            margin-left: rem(15px);
            width: rem(300px);
        }

        // From desktop large
        @media (min-width: $from-desktop-lg) {
            margin-left: rem(30px);
            width: rem(420px);
        }
    }

    // Gallery overrrides
    .c-product-gallery-card {
        margin: rem(40px) 0;

        // From desktop
        @media (min-width: $from-desktop) {
            margin: 0;
            margin-right: rem(15px);
            width: calc(100% - 330px);
        }

        // From desktop large
        @media (min-width: $from-desktop-lg) {
            margin-right: rem(30px);
            width: calc(100% - 480px);
        }
    }
}

// Elements
// =============================================================================
.c-page-intro__product-profile-elements {

    // From desktop
    @media (min-width: $from-desktop) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    // Remove top margin from first child
    *:first-child {
        margin-top: 0 !important;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0 !important;
    }
}
