
// *****************************************************************************
// =============================================================================
// Components: Page breadcrumb
// =============================================================================
// This file contains the page breadcrumb component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-breadcrumb {
    font-size: 0;
    line-height: 0;

    // Breadcrumb
    li {
        // Import font classes
        @extend %f-ui;
        @extend %-is-ui-2-bold;

        // Set component defaults
        display: inline-block;

        // Modify first child
        &:first-child {
            margin-left: 0;
            padding-left: 0;
        }

        // // Set text to block element
        // span {
        //     display: inline-block;
        // }
    }

    // Caret
    svg {
        display: inline-block;
        width: 4px;
        height: 7px;
        margin-left: rem(6px);
        margin-right: rem(6px);
        fill: $gray-8;
    }

    // Link
    a {
        text-decoration: none;
        color: $gray-8;

        // Hover
        &:hover {
            text-decoration: underline;
        }
    }
}
