
// *****************************************************************************
// =============================================================================
// Components: Related content page module
// =============================================================================
// This file contains the related content page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__related-content {

    // Text card overrides
    .c-text-card {

        // Headline overrides
        .c-text-card__headline {
            font-size: rem(24px);
            letter-spacing: rem(-0.2px);
            line-height: rem(30px);
        }
    }

    // Grid
    .c-page-module__grid {
      width: 100%;
        margin-top: rem(30px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin-top: rem(50px);
        }
    }

    // Grid when showing 2 related
    &.-is-2-related .c-page-module__grid {

        // From tablet
        @media (min-width: $from-tablet) {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        }
    }

    // Grid when showing 3 related
    &.-is-3-related .c-page-module__grid {

        // From tablet
        @media (min-width: $from-tablet) {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(3, calc(33.33% - 20px));
        }
    }

    // Grid item
    .c-page-module__grid-item {

        // Story card overrides
        .c-story-card {
            padding: rem(20px);
            height: 100%;
            border: rem(1px) solid $gray-4;
            border-radius: rem(5px);
            transition: border $speed-hover $easing;

            // Is dark theme
            .-is-dark-theme & {
                border-color: $gray-6;
            }

            // Hover
            &:hover {
                border-color: $gray-8;

                // Is dark theme
                .-is-dark-theme & {
                    border-color: $white;
                }
            }
        }

        // Story title overrides
        .c-story-card__title {
            font-size: rem(20px);
            line-height: rem(28px);
        }
    }

    // Grid item when showing 1 related
    &.-is-1-related .c-page-module__grid-item {

        // From tablet
        @media (min-width: $from-tablet) {

            // Story card overrides
            .c-story-card {
                display: flex;
                align-items: center;
                padding: rem(40px);
            }

            // Story image overrides
            .c-story-card__image {
                flex: 0 0 35%;
                max-width: 35%;
                margin-right: rem(30px);
                margin-bottom: 0;
            }


            // Story title overrides
            .c-story-card__title {
              font-size: rem(32px);
              line-height: rem(40px);
            }


            // Story preview overrides
            .c-story-card__preview {
              font-size: rem(20px);
              line-height: rem(30px);
            }
        }
    }

    // Grid item when showing 2 related
    &.-is-2-related .c-page-module__grid-item {
        margin-top: rem(20px);
        margin-bottom: rem(20px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin: 0;

            // Story card overrides
            .c-story-card {
                padding: rem(30px);
            }
        }

        // From desktop
        @media (min-width: $from-desktop-lg) {

            // Story card overrides
            .c-story-card {
                display: flex;
                align-items: center;
            }

            // Story image overrides
            .c-story-card__image {
                flex: 0 0 45%;
                max-width: 45%;
                margin-right: rem(30px);
                margin-bottom: 0;
            }
        }
    }

    // Grid item when showing 3 related
    &.-is-3-related .c-page-module__grid-item {
        margin-top: rem(20px);
        margin-bottom: rem(20px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin: 0;

            // Story card overrides
            .c-story-card {
                padding: rem(30px);
            }
        }
    }
}
