
// *****************************************************************************
// =============================================================================
// Components: 2up page module
// =============================================================================
// This file contains the 2up page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__2up {

    // Grid item
    .c-page-module__grid-item {

        // Remove top margin from first child
        *:first-child {
            margin-top: 0 !important;
        }

        // Remove bottom margin from last child
        *:last-child {
            margin-bottom: 0 !important;
        }

        // From tablet
        @media (min-width: $from-tablet) {
            flex-flow: row;
            margin-left: rem(80px);

            &:first-child {
                margin-left: 0;
            }
        }

        // Set margins for cards within a grid item
        .c-media-card,
        .c-text-card,
        .c-testimonial-card {
            margin-top: rem(22px);
            margin-bottom: rem(22px);
        }

        // Headline overrides
        .c-text-card {
            text-align: left;
        }

        // Headline overrides
        .c-text-card__headline {
            margin-bottom: rem(14px);

            // From tablet
            @media (min-width: $from-tablet) {
                margin-bottom: rem(12px);
            }
        }

        // Body overrides
        .c-text-card__body {

            // From tablet
            @media (min-width: $from-tablet) {
                margin-bottom: rem(20px);
            }
        }

        // Button overrides
        .c-text-card__button {
            // Import button classes
            @extend .c-button;
            @extend .-is-outlined;
        }
    }
}
