
// *****************************************************************************
// =============================================================================
// Components: 1up page module
// =============================================================================
// This file contains the page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__1up {
    overflow: hidden;

    // Grid item
    .c-page-module__grid-item {
        position: relative;

        // Remove top margin from first child
        *:first-child {
            margin-top: 0 !important;
        }

        // Remove bottom margin from last child
        *:last-child {
            margin-bottom: 0 !important;
        }

        // From tablet
        @media (min-width: $from-tablet) {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 !important;
        }

        // Is stacked
        &.-is-stacked {
            flex-direction: column-reverse;
        }

        // Is branded
        &.-is-branded {}

        // Set margins for cards within a grid item
        .c-media-card,
        .c-text-card {
            margin-top: rem(13px);
            margin-bottom: rem(13px);

            // From tablet
            @media (min-width: $from-tablet) {
                margin-top: 0;
                margin-right: rem(20px);
                margin-bottom: 0;
                margin-left: rem(20px);

                // Remove top margin from first child
                &:first-child {
                    margin-left: 0;
                }

                // Remove bottom margin from last child
                &:last-child {
                    margin-right: 0;
                }
            }

            // From desktop
            @media (min-width: $from-desktop) {
                margin-left: rem(40px);
                margin-right: rem(40px);
            }
        }

        // Media card overrides
        .c-media-card {
            // From tablet
            @media (min-width: $from-tablet) {
                width: calc(65% - 20px);
            }

            // From desktop
            @media (min-width: $from-desktop) {
                width: calc(65% - 40px);
            }
        }

        // Text card overrides
        .c-text-card {
            // From tablet
            @media (min-width: $from-tablet) {
                width: calc(35% - 20px);
                text-align: left;
            }

            // From desktop
            @media (min-width: $from-desktop) {
                width: calc(35% - 40px);
            }
        }

        // Headline overrides
        .c-text-card__headline {
            @extend %-is-d3;
            margin-bottom: rem(10px);
        }

        // Body overrides
        .c-text-card__body {
            @extend %-is-b3;
            margin-bottom: rem(20px);
        }
    }

    // Is right aligned
    &.-is-right-aligned .c-page-module__grid-item {

        // From tablet
        @media (min-width: $from-tablet) {
            flex-direction: row-reverse;
            margin-left: rem(20px);
        }

        // Set margins for cards within a grid item
        .c-media-card,
        .c-text-card {

            // From tablet
            @media (min-width: $from-tablet) {

                // Remove top margin from first child
                &:first-child {
                    margin-top: 0 !important;
                    margin-right: 0;
                    margin-bottom: 0 !important;
                    margin-left: rem(20px);
                }

                // Remove bottom margin from last child
                &:last-child {
                    margin-top: 0 !important;
                    margin-right: rem(20px);
                    margin-bottom: 0 !important;
                    margin-left: 0;
                }
            }

            // From desktop
            @media (min-width: $from-desktop) {

                // Remove top margin from first child
                &:first-child {
                    margin-right: 0;
                    margin-left: rem(40px);
                }

                // Remove bottom margin from last child
                &:last-child {
                    margin-right: rem(40px);
                    margin-left: 0;
                }
            }
        }
    }

    // Is stacked
    &.-is-stacked .c-page-module__grid-item {
        flex-direction: column-reverse;

        // Set margins for cards within a grid item
        .c-media-card,
        .c-text-card {
            width: 100%;
            margin-top: rem(15px) !important;
            margin-right: 0 !important;
            margin-bottom: rem(15px) !important;
            margin-left: 0 !important;
            text-align: center;

            // Remove top margin from first child
            &:first-child {
                margin-bottom: 0 !important;
            }

            // Remove bottom margin from last child
            &:last-child {
                margin-top: 0 !important;
            }
        }

        // From tablet
        @media (min-width: $from-tablet) {
            .c-media-card,
            .c-text-card {
                margin-top: rem(30px) !important;
                margin-right: 0 !important;
                margin-bottom: rem(30px) !important;
            }
        }

        .c-text-card {
            // From tablet
            @media (min-width: $from-tablet) {
                margin: 0 auto;
                width: 100%;
                max-width: rem(740px);
            }
        }

        // Headline overrides
        .c-text-card__headline {
            // Import font classes
            @extend %f-display;
            @extend %-is-d2;
        }

        // Body overrides
        .c-text-card__body {
            // Import font classes
            @extend %f-body;
            @extend %-is-b1;
        }
    }

    // Is branded graphic
    &.-is-branded-graphic .c-branding-card {
        display: none;

        @media (min-width: $from-desktop) {
            display: block;
        }
    }

    // Is branded pattern
    &.-is-branded-pattern .c-branding-card {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background-position: 0 0;
        background-repeat: repeat;
        background-size: auto;

        // From tablet
        @media (min-width: $from-tablet) {
            top: 0;
            bottom: auto;
            width: 30%;
            height: 100%;
        }
    }

    // Is stacked AND branded pattern
    &.-is-stacked.-is-branded-pattern .c-branding-card {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
    }

    // Is right align AND branded pattern
    &.-is-right-aligned.-is-branded-pattern .c-branding-card {
        top: auto;
        bottom: 0;
        left: 0;

        // From tablet
        @media (min-width: $from-tablet) {
            right: 0;
            left: auto;
        }
    }

    // Is index page
    &.-is-index-page .c-text-card__button {
        // Import button classes
        @extend .c-cta;
        @extend .-has-arrow;

        // Set component defaults
        padding: 0;
        color: $gray-8;
        background-color: transparent !important;

        // Add arrow
        svg {
            fill: $gray-8;
        }
    }
}
