
// *****************************************************************************
// =============================================================================
// Components: Page intro - story
// =============================================================================
// This file contains the page intro - story component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-intro__story {
    padding-top: rem(70px);
    background-color: transparent;

    // From tablet
    @media (min-width: $from-tablet) {
        padding-top: rem(100px);
    }

    // Has primary image hidden
    &.-has-primary-image-hidden {

        // Date & share overrides
        .c-page-intro__date-share {
            margin-bottom: 0;
        }

        // Media card overrides
        .c-media-card {
            display: none;
        }
    }

    // Text card overrides
    .c-text-card {
        position: relative;
        margin: 0 auto;
        padding-right: rem(20px);
        padding-left: rem(20px);
        max-width: rem(780px);
        z-index: 2;
    }

    // Media card overrides
    .c-media-card {
        margin-top: rem(50px);
        margin-bottom: rem(20px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin-top: rem(90px);
            margin-bottom: rem(30px);
        }
    }

    // Enhanced gallery overrides
    .c-page-module__enhanced-gallery {
        padding: 0;
        margin: 0;
        margin-top: rem(20px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin-top: rem(30px);
        }
    }

    // Remove top margin from first child
    *:first-child {
        margin-top: 0 !important;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0 !important;
    }
}
