
// *****************************************************************************
// =============================================================================
// Components: Testimonials grid page module
// =============================================================================
// This file contains the page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__testimonials-grid {
    // Grid overrides
    .c-page-module__grid {

        // From tablet
        @media (min-width: $from-tablet) {
            display: block;
            column-count: 2;
            column-gap: rem(30px);
            margin-bottom: rem(-30px);
        }

        // From desktop
        @media (min-width: $from-desktop) {
            column-gap: rem(60px);
            margin-bottom: rem(-60px);
        }
    }


    // Grid item overrides
    .c-page-module__grid-item {

        // From tablet
        @media (min-width: $from-tablet) {
            display: inline-block;
            margin: 0 0 rem(30px);
        }

        // From desktop
        @media (min-width: $from-desktop) {
            margin: 0 0 rem(60px);
        }
    }

    // Testimonial overrides
    .c-testimonial-card {

        // From desktop large
        @media (min-width: $from-desktop-lg) {
            padding: rem(40px);
        }

        // Media overrides
        .c-media-card {
            margin-top: rem(-24px) !important;
            margin-left: rem(-20px);
            width: calc(100% + 40px);

            // From tablet
            @media (min-width: $from-tablet) {
                margin-top: rem(-20px) !important;
            }

            // From desktop large
            @media (min-width: $from-desktop-lg) {
                margin-top: rem(-40px) !important;
                margin-left: rem(-40px);
                width: calc(100% + 80px);
            }
        }

        .c-media-card__image {
            width: 100%;
            max-width: 100%;
        }

        // Callout overrides
        .c-testimonial-card__callout {
        }

        // Image overrides
        .c-testimonial-card__callout .c-media-card__image {
            margin: 0;

            // From desktop large
            @media (min-width: $from-desktop-lg) {
                margin-bottom: rem(40px) !important;
            }
        }

        // Quote overrides
        .c-testimonial-card__quote {
        }

        // Project link overrides
        .c-testimonial-card__project-link {
        }

        // Company link overrides
        .c-testimonial-card__company-name {
        }

        // Author overrides
        .c-testimonial-card__author {
        }

        // Credits overrides
        .c-testimonial-card__credits {

            // From desktop
            @media (min-width: $from-desktop) {
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-start;
            }
        }

        .c-testimonial-card__text {

            // From desktop
            @media (min-width: $from-desktop) {
                margin-left: 0;
                width: 100%;
            }
        }

        // Company logo overrides
        .c-testimonial-card__company-logo {

            // From desktop
            @media (min-width: $from-desktop) {
                margin: 0;
                margin-top: rem(5px);
                margin-right: rem(15px);
            }
        }
    }
}
