
// *****************************************************************************
// =============================================================================
// Components: 4up page module
// =============================================================================
// This file contains the 4up page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__4up {

    // Grid item
    .c-page-module__grid-item {

        // Remove top margin from first child
        *:first-child {
            margin-top: 0 !important;
        }

        // Remove bottom margin from last child
        *:last-child {
            margin-bottom: 0 !important;
        }

        // From tablet
        @media (min-width: $from-tablet) {
            flex-flow: row;
            margin-left: rem(30px);

            &:first-child {
                margin-left: 0;
            }
        }

        // Set margins for cards within a grid item
        .c-media-card,
        .c-text-card,
        .c-testimonial-card {
            margin-top: rem(20px);
            margin-bottom: rem(20px);

            // From tablet
            @media (min-width: $from-tablet) {
                margin-top: rem(16px);
                margin-bottom: rem(16px);
            }
        }

        // Headline overrides
        .c-text-card {
            text-align: left;
        }

        // Headline overrides
        .c-text-card__headline {
            @extend %-is-d6;
            margin-bottom: rem(10px);
        }

        // Body overrides
        .c-text-card__body {
            @extend %-is-b4;
            margin-bottom: rem(12px);
        }

        // Button overrides
        .c-text-card__button {
            // Import button classes
            @extend .c-cta;
            @extend .-has-arrow;

            // Set component defaults
            padding: 5px 0;
            transition: border-color $speed-hover $easing, color $speed-hover $easing;
            border-radius: 0;
            border-bottom: 2px $black solid;
            color: $gray-8;
            background-color: transparent !important;

            // Add arrow
            svg {
                fill: $gray-8;
            }

            @include u-hocus {
                border-color: $link-primary-color;
                color: $link-primary-color;
            }
        }
    }
}
