
// *****************************************************************************
// =============================================================================
// Components: Index grid page module
// =============================================================================
// This file contains the index grid page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__index-grid {

    // Grid
    .c-page-module__grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);

        // From tablet
        @media (min-width: $from-tablet) {
            grid-gap: 30px;
            grid-template-columns: calc(33.33% - 20px) calc(33.33% - 20px) calc(33.33% - 20px);
        }

        // From desktop
        @media (min-width: $from-desktop) {
            grid-gap: 60px;
            grid-template-columns: calc(33.33% - 40px) calc(33.33% - 40px) calc(33.33% - 40px);
        }
    }


    // Item
    .c-page-module__grid-item {
        margin-top: rem(20px);
        margin-bottom: 0;

        // Remove margin from first row
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }

        // From tablet
        @media (min-width: $from-tablet) {
            margin-top: 0;
        }
    }

    // Media card overrides
    .c-media-card {
        margin-bottom: rem(10px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin-bottom: rem(20px);
        }
    }

    // Text card overrides
    .c-text-card {
        margin-top: rem(10px);
        text-align: left;

        // From tablet
        @media (min-width: $from-tablet) {
            margin-top: rem(20px);
        }
    }

    // Headline overrides
    .c-text-card__headline {
        @extend %-is-d5A;
        display: none;
        margin: rem(6px) 0;

        // From tablet
        @media (min-width: $from-tablet) {
            display: block;
        }
    }

    // Body overrides
    .c-text-card__body {
        @extend %-is-b3;
        display: none;
        margin: rem(6px) 0;

        // From tablet
        @media (min-width: $from-tablet) {
            display: block;
        }
    }

    // Button overrides
    .c-text-card__button {
        margin: 0;
        padding: 0;
        font-size: rem(16px);
        letter-spacing: rem(-0.02px);
        line-height: rem(20px);
        color: $gray-8;
        background-color: transparent !important;
        border-radius: 0;

        // Hover
        &:hover {
            text-decoration: underline;
        }

        // From tablet
        @media (min-width: $from-tablet) {
            margin: rem(14px) 0;
            font-size: rem(14px);
            line-height: rem(20px);

            // Text
            span {
                margin-right: 5px;
            }

            // Add arrow
            svg {
                max-width: rem(17px);
                max-height: rem(10px);
                fill: $gray-8;
            }

            // Hover
            &:hover {
                text-decoration: none;

                svg {
                    fill: $link-hover-color;
                }
            }
        }
    }
}
