
// *****************************************************************************
// =============================================================================
// Components: Page intro - homepage
// =============================================================================
// This file contains the page intro - homepage component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-intro__homepage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    text-align: center;

    // From tablet
    @media (min-width: $from-tablet) {
        padding: rem(110px) rem(100px);
        min-height: rem(620px);
    }

    // Media card overrides
    .c-media-card {
        position: relative;
        display: block;
        width: 100%;
        height: rem(400px);
        overflow: hidden;
        z-index: 1;

        // From tablet
        @media (min-width: $from-tablet) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        // Button overrides
        .c-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            // From tablet
            @media (min-width: $from-tablet) {
                left: 80%;
            }

            // From desktop
            @media (min-width: $from-desktop) {
                left: 65%;
            }

            // From desktop large
            @media (min-width: $from-desktop-lg) {
                left: 50%;
            }
        }
    }

    // Text card overrides
    .c-text-card {
        position: relative;
        margin: 0 auto;
        padding: rem(40px) rem(30px);
        max-width: rem(740px);
        z-index: 2;

        // From tablet
        @media (min-width: $from-tablet) {
            align-self: flex-start;
            margin: auto 0;
            padding: rem(60px);
            text-align: left;
            max-width: rem(440px);
            background-color: $white;
        }

        // Subheadline overrides
        .c-text-card__sub-headline {
            margin-bottom: rem(15px);
        }

        // Headline overrides
        .c-text-card__headline {
            @extend %-is-d2;
        }

        // Body overrides
        .c-text-card__body {
            @extend %-is-b1A;
            letter-spacing: 0;
        }
    }

    // Is right aligned
    &.-is-right-aligned {
        flex-direction: column-reverse;

        // Media card overrides
        .c-media-card {
            // Button overrides
            .c-button {
                // From tablet
                @media (min-width: $from-tablet) {
                    left: 20%;
                }

                // From desktop
                @media (min-width: $from-desktop) {
                    left: 35%;
                }

                // From desktop large
                @media (min-width: $from-desktop-lg) {
                    left: 50%;
                }
            }
        }

        // Text card overrides
        .c-text-card {
            margin-left: auto;
        }
    }

    // Is full width
    &.-is-full-width {
        padding: 0;
        flex-direction: column-reverse !important;

        // Media card overrides
        .c-media-card {
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;

            // From tablet
            @media (min-width: $from-tablet) {
                height: rem(800px);
            }

            // Button overrides
            .c-button {
                left: 50%;
            }
        }

        // Text card overrides
        .c-text-card {
            display: block;
            margin: 0;
            width: 100%;
            max-width: none;
            text-align: center;
            background-color: transparent;

            // From tablet
            @media (min-width: $from-tablet) {
                padding: rem(100px) rem(30px);
            }

            // Subheadline overrides
            .c-text-card__sub-headline {
                max-width: rem(740px);
                margin-left: auto;
                margin-right: auto;

                // From tablet
                @media (min-width: $from-tablet) {
                    margin-bottom: rem(14px);
                }
            }

            // Headline overrides
            .c-text-card__headline {
                max-width: rem(740px);
                margin-left: auto;
                margin-right: auto;

                // From tablet
                @media (min-width: $from-tablet) {
                    margin-bottom: rem(15px);
                    font-size: rem(60px) !important;
                    letter-spacing: rem(-1px);
                    line-height: rem(75px);
                }
            }

            // Body overrides
            .c-text-card__body {
                max-width: rem(740px);
                margin-left: auto;
                margin-right: auto;

                // From tablet
                @media (min-width: $from-tablet) {
                    margin-bottom: rem(30px);
                    font-size: rem(24px);
                    letter-spacing: 0;
                    line-height: rem(36px);
                }
            }
        }
    }

    // Has overlay background
    &.-has-overlay-background {
        padding: 0;
        background-color: transparent;

        // Text card overrides
        .c-text-card {
            background-color: transparent;

            // From tablet
            @media (min-width: $from-tablet) {
                padding: rem(60px);
                padding-right: rem(160px);
                width: 100%;
                max-width: rem(540px);
                background-color: rgba(37,37,37,0.70) !important;
                overflow: visible;

                // Add top fill
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -100vh;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(37,37,37,0.70);
                }

                // Add bottom fill
                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -100vh;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(37,37,37,0.70);
                }

                // Text overrides
                .c-text-card__sub-headline,
                .c-text-card__headline,
                .c-text-card__body {
                    color: $white;
                }

                // Button overrides
                .c-text-card__button {
                    color: $gray-8;
                    background-color: $white;

                    // Hover
                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    // Has overlay background, not right aligned
    &.-has-overlay-background:not(.-is-right-aligned) {

        // Text card overrides
        .c-text-card {

            // From tablet
            @media (min-width: $from-tablet) {
                padding-right: rem(60px);
                padding-left: rem(160px);
            }
        }
    }
}
