
// *****************************************************************************
// =============================================================================
// Components: Page intro - location
// =============================================================================
// This file contains the page intro - location component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-intro__location {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    // From tablet
    @media (min-width: $from-tablet) {
        flex-direction: row;
        min-height: rem(620px);
    }

    // Has dark background
    &.-has-dark-background {
        background-color: $gray-8;
    }

    // Breadcrumbs, has dark background
    &.-has-dark-background .c-page-breadcrumb {
        // Caret
        svg {
            fill: $white;
        }

        // Link
        a {
            color: $white;
        }
    }

    // Branding card overrides
    .c-branding-card {
        z-index: 1;

        // From tablet
        @media (min-width: $from-tablet) {
            right: calc(50% - 20px);
        }

        // From desktop
        @media (min-width: $from-desktop) {
            right: calc(59% - 20px);
        }
    }

    // Location card overrides
    .c-location-card {
        margin: rem(70px) rem(20px) rem(50px);
        width: calc(100% - 40px);
        text-align: left;

        // From tablet
        @media (min-width: $from-tablet) {
            margin: 0;
            margin-right: auto;
            padding: rem(70px) rem(60px);
            width: 50%;
        }

        // From desktop
        @media (min-width: $from-desktop) {
            padding: rem(80px);
            width: 41%;
        }

        // From desktop large
        @media (min-width: $from-desktop-lg) {
            padding: rem(100px);
        }
    }

    // Headline overrides
    .c-location-card__headline {
        @extend %-is-d2B;
        margin: rem(20px) 0;

        // From tablet
        @media (min-width: $from-tablet) {
            margin: rem(25px) 0;
        }
    }

    // Description overrides
    .c-location-card__description {
        margin: rem(20px) 0;

        // From tablet
        @media (min-width: $from-tablet) {
            margin: rem(25px) 0;
        }
    }

    // Information overrides
    .c-location-card__information {
        margin-top: rem(20px);
    }

    // Detail overrides
    .c-location-card__detail {
        flex-direction: column;
        margin: rem(18px) 0;
    }

    // Detail label overrides
    .c-location-card__detail-label {
        margin: 0;
        margin-bottom: rem(3px);
        width: 100%;
    }

    // Detail valueoverrides
    .c-location-card__detail-value {
        align-self: flex-start;
        margin: 0;
        width: auto;
    }

    // Media card overrides
    .c-media-card {
        width: 100%;
        height: rem(400px);
        z-index: 2;

        // From tablet
        @media (min-width: $from-tablet) {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
        }

        // From desktop
        @media (min-width: $from-desktop) {
            width: 59%;
        }
    }
}
