
// *****************************************************************************
// =============================================================================
// Components: Enhanced gallery page module
// =============================================================================
// This file contains the page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__enhanced-gallery {
    @extend %-is-ui-3;
    padding: 0;
    text-align: center;

    // Intro overrides Rem
    .c-page-module__intro {
        padding: 0 rem(30px);
        max-width: rem(740px);
        z-index: 2;

        // From tablet
        @media (min-width: $from-tablet) {
            align-self: flex-start;
            margin: 0 auto inherit;
            padding: 0 rem(60px);
            max-width: rem(860px);
            text-align: left;
        }
    }

    // Media card overrides
    .c-media-card {
        display: table;
        caption-side: bottom;
        width: auto !important;
        height: auto !important;
    }

    // Image overrides
    .c-media-card__image {
        display: table-cell;
        width: auto;
        height: rem(240px);
    }

    // Caption overrides
    .c-media-card__caption {
        display: table-caption;
        padding-right: rem(20px);
        padding-left: rem(20px);

        // From tablet
        @media (min-width: $from-tablet) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    // Slide overrides
    .c-slider__track {
        height: auto;
    }

    // Slide overrides
    .c-slider__slide {
        position: relative;
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        margin: 0 rem(10px) !important;
        width: auto !important;
        height: auto !important;

        // From tablet
        @media (min-width: $from-tablet) {
            margin: 0 rem(15px) !important;
        }

    }
}
