
// *****************************************************************************
// =============================================================================
// Components: Form page module
// =============================================================================
// This file contains the form page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__form {
    background-color: $gray-2;

    // Intro
    .c-page-module__intro {

        // From tablet
        @media (min-width: $from-tablet) {
            max-width: rem(500px);
        }
    }

    // Form overrides
    .c-form {

        // From tablet
        @media (min-width: $from-tablet) {
            margin: 0 auto;
            max-width: rem(500px);
        }
    }

    // Is contact form
    &.-is-contact {
        margin-top: 0 !important;
        background-color: $white;
        border-bottom: rem(1px) solid $gray-4;
    }
}
