
// *****************************************************************************
// =============================================================================
// Components: Search page module
// =============================================================================
// This file contains the page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__search {
    margin-top: 0 !important;
    padding: 0;
}

// Form wrapper
// =============================================================================
.c-page-module__search-form-wrapper {
    margin: 0 auto;
    padding: rem(30px) rem(20px) rem(40px);
    max-width: rem(540px);

    // From tablet
    @media (min-width: $from-tablet) {
        padding: rem(70px) rem(20px) rem(60px);
    }
}

// Headline
// =============================================================================
.c-page-module__search-headline {
    @extend %-is-d3;
    margin-bottom: rem(22px);
    text-align: center;
}


// Form
// =============================================================================
.c-page-module__search-form {
    position: relative;
    border: rem(1px) solid $gray-8;
    border-radius: $control-button-radius;

    // Has rounded buttons
    .-has-round-edge-buttons & {
        border-radius: rem(22px);
    }

    // Has soft edge buttons
    .-has-soft-edge-buttons & {
        border-radius: rem(5px);
    }

    // Has hard edge buttons
    .-has-hard-edge-buttons & {
        border-radius: 0;
    }
}

// Input
// =============================================================================
.c-page-module__search-input {
    @extend %-is-ui-1-bold;
    margin: 0;
    padding: rem(9px) rem(50px) rem(9px) rem(15px);
    letter-spacing: 0;
    color: $gray-8;
}

// Button
// =============================================================================
.c-page-module__search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(50px);
    height: rem(38px);
    text-indent: rem(-2000px);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h320v205H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cuse xlink:href='%23a' transform='translate(-266 -137.902)'/%3E%3Cg transform='translate(-246 -13)'%3E%3Crect stroke='%23252525' x='.5' y='.5' width='279' height='39' rx='5'/%3E%3Cpath d='M255.375 21.25h-.593l-.21-.203a4.853 4.853 0 001.178-3.172 4.875 4.875 0 10-4.875 4.875 4.853 4.853 0 003.173-1.177l.202.21v.592l3.75 3.742L259.118 25l-3.743-3.75zm-4.5 0a3.37 3.37 0 01-3.375-3.375 3.37 3.37 0 013.375-3.375 3.37 3.37 0 013.375 3.375 3.37 3.37 0 01-3.375 3.375z' fill='%23252525'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
}

// Filters
// =============================================================================
.c-page-module__search-filters {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: rem(1px) solid $gray-4;
    border-bottom: rem(1px) solid $gray-4;
}


// Filters wrapper
// =============================================================================
.c-page-module__search-filters-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 rem(10px);
    min-width: rem(80px);
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    // From tablet
    @media (min-width: $from-tablet) {
        padding: 0 rem(60px);
    }
}


// Filter wrapper
// =============================================================================
.c-page-module__search-filter-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 rem(15px);
}

// Filter
// =============================================================================
// todo: refactor @extend %-is-ui-1-bold and %-is-ui-3-semibold as placeholder?
.c-page-module__search-filter {
    @extend %-is-ui-1-bold;
    display: block;
    position: relative;
    padding: rem(14px) 0;
    text-decoration: none;
    color: $gray-8;

    // Count
    span:not([class]) {
        @extend %-is-ui-3-semibold;
        color: $gray-55;
    }

    // Is selected
    &.-is-selected {

        // Faux line
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(4px);
            background-color: $gray-8;
        }
    }
}

// Filter
// =============================================================================
.c-page-module__search-results {
    margin: 0 auto;
    padding: 0;
    max-width: rem(860px);

    // From tablet
    @media (min-width: $from-tablet) {
        padding: 0 rem(60px);
    }
}

// List
// =============================================================================
.c-page-module__search-results-list {

    // From tablet
    @media (min-width: $from-tablet) {
        margin-top: rem(30px);
    }
}

// Item
// =============================================================================
.c-page-module__search-results-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: rem(20px);
    border-bottom: rem(1px) solid $gray-4;

    // From tablet
    @media (min-width: $from-tablet) {
        padding: rem(30px) 0;
    }
}

// Item
// =============================================================================
.c-page-module__search-results-image {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: rem(20px);
    width: rem(80px);
    height: auto;

    // From tablet
    @media (min-width: $from-tablet) {
        margin-right: rem(30px);
        width: rem(130px);
    }
}

// Text
// =============================================================================
.c-page-module__search-results-text {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;

    // Remove top margin from first child
    *:first-child {
        margin-top: 0;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0;
    }

    // Has image
    .-has-image & {
        width: calc(100% - 100px);

        // From tablet
        @media (min-width: $from-tablet) {
            width: calc(100% - 160px);
        }
    }
}

// Category
// =============================================================================
.c-page-module__search-results-category {
    @extend %-is-ui-3-semibold;
    display: block;
    margin: rem(12px) 0;
    color: $link-primary-color;
}

// Link
// =============================================================================
.c-page-module__search-results-link {
    @extend %-is-d6-bold;
    margin: rem(7px) 0;
    text-decoration: none;
    color: $gray-8;

    // Hover
    &:hover {
        text-decoration: underline;
    }
}

// Description
// =============================================================================
.c-page-module__search-results-description {
    @extend %-is-ui-2;
    display: block;
    margin: rem(7px) 0;
    color: $gray-7;
}

// Link
// =============================================================================
.c-page-module__search-results-url {
    @extend %-is-ui-2A;
    display: block;
    margin: rem(7px) 0;
    color: $gray-55;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Pagination
// =============================================================================
.c-pagination {
    margin-top: rem(60px);

    // From tablet
    @media (min-width: $from-tablet) {
        margin-top: rem(100px);
    }
}
