
// *****************************************************************************
// =============================================================================
// Components: Sortable story grid module
// =============================================================================
// This file contains the page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__sortable-story-grid {
    margin-top: rem(10px);

    // From tablet
    @media (min-width: $from-tablet) {
        margin-top: rem(40px);
    }

    // From desktop
    @media (min-width: $from-desktop) {
        padding-right: rem(110px);
        padding-left: rem(110px);
    }

    // Filters overrides
    .c-filters {
        margin-top: rem(10px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin-top: rem(40px);
        }
    }

    // Grid
    .c-page-module__grid {

        // From 414px
        @media (min-width: 414px) {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: calc(50% - 20px) calc(50% - 20px);
            margin-top: rem(40px);
        }

        // From tablet
        @media (min-width: $from-tablet) {
            grid-template-columns: calc(33.33% - 26.66px) calc(33.33% - 26.66px) calc(33.33% - 26.66px);
        }

        // From desktop
        @media (min-width: $from-desktop) {
            grid-template-columns: calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px);
        }
    }

    // Grid item
    .c-page-module__grid-item {
        margin-top: rem(40px);

        // From 414px
        @media (min-width: 414px) {
            margin: 0;
        }

        // From desktop
        @media (min-width: $from-desktop) {
            padding-top: rem(20px);
        }
    }

    // Pagination
    .c-pagination {
        margin-top: rem(60px);

        // From tablet
        @media (min-width: $from-tablet) {
            margin-top: rem(100px);
        }
    }
}
