
// *****************************************************************************
// =============================================================================
// Components: Testimonials page module
// =============================================================================
// This file contains the page module component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-page-module__testimonials {
    @extend %-is-ui-3;
    text-align: center;
    overflow: hidden;

    // From tablet
    @media (min-width: $from-tablet) {
        padding-right: rem(60px);
        padding-left: rem(60px);
    }

    // Slider overrides
    .c-slider {
        overflow: hidden;
        background-color: $gray-2;
    }

    // Is slideable
    &.-is-slideable {

        // Slider overrides
        .c-slider {

            // From desktop
            @media (min-width: $from-desktop) {
                min-height: rem(322px) !important;
            }
        }
    }

    // Slide overrides
    .c-slider__slide {
        // Has js
        .-has-js & {
            opacity: 0;
            transition: opacity $speed-reveal $easing;

            // Is selected
            &.-is-selected {
                opacity: 1;
            }
        }
    }

    // Controls overrides
    .c-slider__controls {
        margin-top: 0;
        margin-bottom: rem(30px);
        padding: 0 rem(20px);

        // From desktop
        @media (min-width: $from-desktop) {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: rem(100px);
            right: rem(60px);
            margin: 0;
            padding: 0;
        }
    }

    // Counter overrides
    .c-slider__counter {

        // From desktop
        @media (min-width: $from-desktop) {
            display: block;
            margin-top: rem(15px);
            margin-bottom: rem(15px);
        }
    }

    // Dots overrides
    .c-slider__dots {

        // From desktop
        @media (min-width: $from-desktop) {
            display: none;
        }
    }

    // Testimonial card overrides
    .c-testimonial-card {
        padding: rem(30px) rem(20px);
        text-align: left;
        background-color: transparent;

        // From tablet
        @media (min-width: $from-tablet) {
            padding: rem(30px) rem(40px);
        }

        // From desktop
        @media (min-width: $from-desktop) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: rem(85px) rem(192px) rem(85px) rem(100px);
        }
    }

    // Quote overrides
    .c-testimonial-card__quote {
        font-weight: $semibold;

        // From desktop
        @media (min-width: $from-desktop) {
            margin-top: 0 !important;
        }
    }

    // Callout overrides
    .c-testimonial-card__callout {

        // From desktop
        @media (min-width: $from-desktop) {
            margin: 0;
            padding: 0;
            width: calc(100% - 290px);
            border-bottom: 0;
        }
    }

    // Credits overrides
    .c-testimonial-card__credits {

        // From desktop
        @media (min-width: $from-desktop) {
            margin: 0;
            padding: 0;
            width: rem(240px);
        }
    }

    .c-testimonial-card__company-name {
        @extend %-is-ui-1-important;

        a {

            // Icon
            &:after {
                width: rem(10px) !important;
                height: rem(10px) !important;
            }
        }
    }

    .c-testimonial-card__author {
        @extend %-is-ui-1-important;
    }
}
