
// *****************************************************************************
// =============================================================================
// Components: Product card
// =============================================================================
// This file contains the product card component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-product-card {
    display: block;
    text-decoration: none;

    // Remove top margin from first child element
    *:first-child {
        margin-top: 0 !important;
    }

    // Remove bottom margin from last child element
    *:last-child {
        margin-bottom: 0 !important;
    }
}

// Image
// =============================================================================
.c-product-card__image {
    display: block;
    margin-top: rem(16px);
    margin-bottom: rem(16px);
    width: 100%;
    height: auto;
}

// Name
// =============================================================================
.c-product-card__title {
    @extend %-is-d6-bold;
    display: block;
    margin-top: rem(6px);
    margin-bottom: rem(6px);
    transition: color $speed-hover $easing;

    // Hover
    .c-product-card:hover & {
        color: $link-primary-color;
    }
}

// Company
// =============================================================================
.c-product-card__sub-title {
    @extend %-is-d6;
    margin-top: rem(6px);
    margin-bottom: rem(6px);
    letter-spacing: 0;
    color: $gray-7;
}
