
// *****************************************************************************
// =============================================================================
// Components: Product gallery card
// =============================================================================
// This file contains the product gallery card component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-product-gallery-card {
    display: flex;
    flex-direction: column;

    // From desktop
    @media (min-width: $from-desktop) {
        flex-direction: row-reverse;
        position: relative;
    }
}

// Images
// =============================================================================
.c-product-gallery-card__images {
    position: relative;
    padding-bottom: 75%;
    width: 100%;

    // From desktop
    @media (min-width: $from-desktop) {
        margin-left: rem(100px);
        padding-bottom: 66%;
    }
}

// Image
// =============================================================================
.c-product-gallery-card__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border: rem(1px) solid $gray-4;
    opacity: 0;
    transition: opacity $speed-reveal $easing;

    // Is selected
    &.-is-selected {
        opacity: 1;
    }
}

// Scroller
// =============================================================================
.c-product-gallery-card__scroller {
    margin: 0;
    margin-top: rem(20px);
    padding: 0;

    // From desktop
    @media (min-width: $from-desktop) {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding-right: rem(20px);
        height: 100%;
        overflow: hidden;

        // Has previous
        &.-has-previous {

            // Previous fade
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: rem(80px);
                height: rem(80px);
                background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
                z-index: 1;
            }
        }

        // Has next
        &.-has-next {

            // Next fade
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: rem(80px);
                height: rem(80px);
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,0.6) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%,rgba(255,255,255,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba(255,255,255,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
                z-index: 1;
            }
        }
    }
}

// Scroller previous
// =============================================================================
.c-product-gallery-card__scroller-previous {
    display: none;
    position: absolute;
    top: rem(25px);
    left: rem(25px);
    width: rem(30px);
    height: rem(30px);
    font-size: 0;
    line-height: 0;
    background-color: $white;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23252525' fill-rule='nonzero' d='M0 5l.881.881 3.494-3.487V10h1.25V2.394L9.119 5.88 10 5 5 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: rem(30px);
    box-shadow: 0 rem(5px) rem(10px) 0 rgba(0,0,0,0.10);
    z-index: 2;

    // Has previous
    .-has-previous & {
        display: block;
    }
}

// Scroller next
// =============================================================================
.c-product-gallery-card__scroller-next {
    display: none;
    position: absolute;
    bottom: rem(25px);
    left: rem(25px);
    width: rem(30px);
    height: rem(30px);
    font-size: 0;
    line-height: 0;
    background-color: $white;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23252525' fill-rule='nonzero' d='M10 5l-.881-.881-3.494 3.487V0h-1.25v7.606L.881 4.12 0 5l5 5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: rem(30px);
    box-shadow: 0 rem(5px) rem(10px) 0 rgba(0,0,0,0.10);
    z-index: 2;

    // Has next
    .-has-next & {
        display: block;
    }
}

// Thumbnails
// =============================================================================
.c-product-gallery-card__thumbnails {
    display: flex;
    align-items: center;
    justify-content: center;

    // From desktop
    @media (min-width: $from-desktop) {
        flex-direction: column;
        width: rem(80px);
        transition: transform $speed-reveal $easing;
    }
}

// Thumbnail
// =============================================================================
.c-product-gallery-card__thumbnail {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 rem(10px);
    width: rem(10px);
    height: rem(10px);
    background-color: $gray-4;
    background-repeat: no-repeat;
    background-size: 0px 0px;
    background-position: -100vh -100vh;
    border-radius: rem(5px);
    transition: background-color $speed-hover $easing;

    // Hover OR is selected
    &:hover,
    &.-is-selected {

        // To desktop
        @media (max-width: $to-desktop) {
            background-color: $link-primary-color;
        }
    }

    // From desktop
    @media (min-width: $from-desktop) {
        margin: rem(17px) 0 0;
        width: rem(80px);
        height: rem(80px);
        background-size: cover;
        background-position: 50% 50%;
        border: rem(1px) solid $gray-4;
        border-radius: 0;
        transition: border-color $speed-hover $easing;

        // Hover OR is selected
        &:hover,
        &.-is-selected {
            border-color: $gray-8;
        }

        // Image
        img {
            display: block;
        }
    }
}
