
// *****************************************************************************
// =============================================================================
// Components: Product info card
// =============================================================================
// This file contains the product info card component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-product-info-card {

    // Remove top margin from first child
    *:first-child {
        margin-top: 0 !important;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0 !important;
    }
}

// Headline
// =============================================================================
.c-product-info-card__headline {
    @extend %-is-d2A;
    margin: rem(6px) 0;
}

// Brand
// =============================================================================
.c-product-info-card__brand {
    @extend %-is-b3-semibold;
    display: inline-block;
    margin: rem(2px) 0;
    text-decoration: none;
    color: $gray-8;

    // Hover
    &:hover {
        text-decoration: underline;
    }
}

// Categories
// =============================================================================
.c-product-info-card__categories {
    @extend %-is-b3;
    color: $gray-7;

    // Remove top margin from first child
    *:first-child {
        margin-top: 0 !important;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0 !important;
    }
}

// Category set
// =============================================================================
.c-product-info-card__category-set {
    margin: rem(2px) 0;
}

// Category
// =============================================================================
.c-product-info-card__category {
    text-decoration: none;

    // Hover
    &:hover {
        text-decoration: underline;
    }
}

// Description
// =============================================================================
.c-product-info-card__description {
    @extend %-is-b3;
    margin: rem(20px) 0;
    color: $gray-7;

    // Parapgraph
    p {
        margin: rem(16px) 0;
    }

    // Remove top margin from first child
    *:first-child {
        margin-top: 0 !important;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0 !important;
    }
}

// Linkset
// =============================================================================
.c-product-info-card__linkset {
    @extend %-is-ui-1A-semibold;
    margin: rem(30px) 0;
    color: $gray-8;
    border-bottom: rem(1px) solid $gray-4;

    // From desktop
    @media (min-width: $from-desktop) {
        border: none;
    }
}

// Linkset item
// =============================================================================
.c-product-info-card__linkset-item {
    padding: rem(20px) 0;
    border-top: rem(1px) solid $gray-4;

    span {
        display: inline-block;
        vertical-align: middle;
    }

    // Modify last child
    &:last-child {
        // From desktop
        @media (min-width: $from-desktop) {
            padding-bottom: 0;
        }
    }

    // Button
    .c-button {
        display: inline-block;
        margin-left: rem(12px);
        vertical-align: middle;
    }

    // Date & share overrides
    .c-page-intro__date-share {
        margin: 0;
        padding: 0;
        width: auto !important;
        text-align: left !important;
    }

    // Share overrides
    .c-page-intro__share {
        margin: 0;
        margin-right: auto;
        padding: 0 !important;

        // Share item
        li {
            margin-left: rem(15px) !important;
            font-weight: $semibold;
            color: $gray-8;

            // Modify first child
            &:first-child {
                margin-left: 0 !important;
            }

            // Add margin to last child
            &:last-child {
                margin-right: 0 !important;
            }

            // Link
            a {
                // Icon
                svg {
                    display: inline-block;
                    fill: currentColor;
                }

                // Is email
                &.-is-email {

                    // Icon overrides
                    svg {
                        width: rem(14px);
                        height: rem(11px);
                    }
                }

                // Is facebook
                &.-is-facebook {

                    // Icon overrides
                    svg {
                        width: rem(7px);
                        height: rem(12px);
                    }
                }

                // Is twitter
                &.-is-twitter {

                    // Icon overrides
                    svg {
                        width: rem(14px);
                        height: rem(13px);
                    }
                }

                // Is linkedin
                &.-is-linkedin {

                    // Icon overrides
                    svg {
                        width: rem(14px);
                        height: rem(12px);
                    }
                }
            }
        }
    }
}

// Linkset link
// =============================================================================
.c-product-info-card__linkset-link {
    text-decoration: none;
    color: $gray-8;

    // Icon
    svg {
        max-width: rem(10px);
        max-height: rem(10px);
        margin-left: rem(6px);
    }

    // Hover, Focus
    @include u-hocus {
        text-decoration: underline;
    }
}
