// =============================================================================
// Components: Related Posts
// =============================================================================
// This file styles the related post cards

// Component Frame
// =============================================================================

.c-related-posts {
    margin-top: $gutter-xs;
    margin-bottom: $gutter-xs;
    background-color: $white;
    color: $black;
}

// Component Modifiers
// =============================================================================

// Component Elements
// =============================================================================

.c-related-posts__post {
    padding: $gutter-xs;
}
