// =============================================================================
// Components: Related Posts
// =============================================================================
// This file styles the related post cards

// Component Frame
// =============================================================================

.c-related-posts {
    margin-top: $gutter-xs;
    margin-bottom: $gutter-xs;


    // at or above 900px
    @include media(">=medium") {
        max-width: percentage(2/3);
    }
}

// Component Modifiers
// =============================================================================

// Component Elements
// =============================================================================

// .c-related-posts__post {}
