
// *****************************************************************************
// =============================================================================
// Components: Story spacer module
// =============================================================================
// This file contains the story spacer component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-story__spacer {
    height: rem(20px);
    margin-top: 0;

    // From tablet
    @media (min-width: $from-tablet) {
        height: rem(40px);
    }
}
