
// *****************************************************************************
// =============================================================================
// Components: Story divider module
// =============================================================================
// This file contains the story divider component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-story__divider {
    max-width: rem(740px);
    margin-left: auto;
    margin-right: auto;
    border-top: rem(1px) solid $gray-4;
}
