
// *****************************************************************************
// =============================================================================
// Components: Story resource group module
// =============================================================================
// This file contains the story resource group component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-story__resource-group {
    max-width: rem(740px);
    margin-left: auto;
    margin-right: auto;
    padding: rem(24px) rem(20px);
    text-align: left;
    line-height: 1.5rem;
    border: rem(1px) solid $gray-4;
    border-radius: rem(5px);

    // Remove top margin from first child
    *:first-child {
        margin-top: 0;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0;
    }

    // From tablet
    @media (min-width: $from-tablet) {
        padding: rem(26px) rem(30px);
    }

    // From tablet
    @media (min-width: $from-tablet) {
    }
}

// Headline
// =============================================================================
.c-content__resource-group-headline {

    // Icon
    &::after {

        // Is open
        .c-story__resource-group.-is-open & {
            transform: rotate(-180deg);
        }
    }
}

// Description
// =============================================================================
.c-content__resource-group-description {

    // Is open
    .c-story__resource-group.-is-open & {
        display: block;
    }
}


// Items
// =============================================================================
.c-content__resource-group-items {

    // Is open
    .c-story__resource-group.-is-open & {
        display: block;
    }
}
