
// *****************************************************************************
// =============================================================================
// Components: Text card
// =============================================================================
// This file contains the text card component properties
// *****************************************************************************

// Component class
// =============================================================================
.c-text-card {
    position: relative;
    text-align: center;
    overflow: hidden;

    // Remove top margin from first child
    *:first-child {
        margin-top: 0;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0;
    }

    // Ensure headings include more spacing up top
    h3, h4, h5, h6 {
        margin-top: rem(65px);
    }
}

// Logo
// =============================================================================
.c-text-card__logo {
    margin-bottom: rem(20px);
    max-width: rem(144px);
    max-height: rem(40px);

    // From desktop
    @media (min-width: $from-desktop) {
        max-width: rem(240px);
        max-height: rem(120px);
    }
}

// Sub headline
// =============================================================================
.c-text-card__sub-headline {
    // Import font classes
    @extend %f-display;
    @extend %-is-d6;

    // Set component defaults
    display: block;
    margin-bottom: rem(13px);
    opacity: 0.66;

    //
    .-is-dark-background & {
        opacity: 1;
    }
}

// Headline
// =============================================================================
.c-text-card__headline {
    margin-bottom: rem(13px);

    //
    .-is-dark-background & {
        color: $white !important;
    }
}

// Body
// =============================================================================
.c-text-card__body {
    // Import font classes
    @extend %f-body;
    @extend %-is-b1;

    // Set component defaults
    margin-bottom: rem(22px);

    // Remove top margin from first child
    *:first-child {
        margin-top: 0;
    }

    // Remove bottom margin from last child
    *:last-child {
        margin-bottom: 0;
    }

    // Ensure headings include more spacing up top
    h3, h4, h5, h6 {
        margin-top: rem(65px);
    }

    //
    .-is-dark-background & {
        color: $white !important;
    }
}

// Button
// =============================================================================
.c-text-card__button {
    // Import font classes
    @extend .c-button;
    background-color: $link-primary-color;

    // Hover
    &:hover {
        background-color: $link-hover-color;
        opacity: 1;
    }

    // Active
    &:active {
        background-color: $link-active-color;
        opacity: 1;
    }

    //
    .-is-dark-background & {
        color: $gray-8;
        background-color: $white;

        // Hover
        &:hover {
            opacity: 0.9;
        }
    }

    // Set component defaults
}

// Image
// =============================================================================
.c-text-card-image {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 50%;

  @supports (object-fit: cover) {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
