
// *****************************************************************************
// =============================================================================
// Settings: Colors
// =============================================================================
// This file contains the color setting(s) properties
// *****************************************************************************

// Defaults
// =============================================================================
:root {
    --color-accent-primary: #000;
    --color-accent-hocus: #262626;
    --color-accent-active: #000;
}

$default-primary-color: var(--color-accent-primary);

// Grayscale
// =============================================================================
$white: #FFFFFF;
$gray-1: #F0F3F5;
$gray-2: #EBEBEB;
$gray-3: #E6E6E6;
$gray-4: #D9D9D9;
$gray-5: #6F7073;
$gray-6: #5E5E5E;
$gray-7: #464646;
$gray-8: #252525;
$black: #000000;

// ? Where did these colors originate? Can we use established colors instead?
// ? ===========================================================================
// For shadows?
$gray-55: #757575;
// For dark theme?
$gray-9: #1A1A1A;
// ? ===========================================================================

// Typefaces
// =============================================================================
$font-header: "ivypresto-headline", serif;
$font-body: "acumin-pro", sans-serif;
$font-navigation: "acumin-pro", sans-serif;

// Base Font Sizes
// =============================================================================
$font-size:      16px;
$font-family:    $font-body;
$line-height:    32px;
$headline-color: $black;
$body-color:     $black;

// User Interface
// =============================================================================
$form-failure-light: #c73245;
$form-failure-dark: #dc7885;
$overlay-light: rgba(37,37,37,0.10);
$overlay-dark: rgba(37,37,37,0.70);

// Link
// =============================================================================
$link-primary-color: var(--color-accent-primary);
$link-focus-color: var(--color-accent-hocus);
$link-hover-color: var(--color-accent-hocus);
$link-active-color: var(--color-accent-active);

// Button
// =============================================================================
$primary-button-radius: 0;
$outline-button-border: 1px solid $black;
$outline-button-color: $black;

// Forms
// =============================================================================
$input-field-radius: 0;

// Controls
// =============================================================================
$control-button-radius: 0;

// Selection
// =============================================================================
$selection-text-color:       #3297fd;
$selection-background-color: #ffffff;

// UI
// =============================================================================
$ui00BackgroundColor: $white;
$ui20BackgroundColor: $gray-1;
$ui60BackgroundColor: $black;

// Header
// =============================================================================
$header-menu-toggle-border: 1px solid #d7d7d7;
$header-menu-toggle-radius: 0;
$header-primary-border: 1px solid $gray-3;
$header-primary-color: $black;
$header-utility-border: 1px solid $black;
$header-utility-background: $white;
$header-utility-link: $black;
$header-utility-link-inactive: #67686b;

// Footer
// =============================================================================
$footer-color: $black;
$footer-border: 1px solid $black;
$parent-co-border: none;
$parent-co-background: $black;
$parent-co-color: $white;
$legal-bar-links: $gray-5;
$legal-bar-background: $white;
