
// *****************************************************************************
// =============================================================================
// Settings: Colors
// =============================================================================
// This file contains the color setting(s) properties
// *****************************************************************************

// Defaults
// =============================================================================
:root {
    --color-accent-primary: #E22D00;
    --color-accent-hocus: #CA2800;
    --color-accent-active: #931D00;
}

$default-primary-color: var(--color-accent-primary);

// Grayscale
// =============================================================================
$white: #FFFFFF;
$gray-1: #FAFAFA;
$gray-2: #F6F6F6;
$gray-3: #EBEBEB;
$gray-4: #D7D7D7;
$gray-5: #ACACAC;
$gray-6: #616161;
$gray-7: #464646;
$gray-8: #252525;
$black: #000000;

// ? Where did these colors originate? Can we use established colors instead?
// ? ===========================================================================
// For shadows?
$gray-55: #757575;
// For dark theme?
$gray-9: #1A1A1A;
// ? ===========================================================================

// Typefaces
// =============================================================================
$font-header: "ff-meta-web-pro", sans-serif;
$font-body: "ff-meta-web-pro", sans-serif;
$font-navigation: "ff-meta-web-pro", sans-serif;

// Base Font Sizes
// =============================================================================
$font-size:      16px;
$font-family:    $font-body;
$line-height:    32px;
$headline-color: $gray-8;
$body-color:     $gray-7;

// User Interface
// =============================================================================
$form-failure-light: #C73245;
$form-failure-dark: #DC7885;
$overlay-light: rgba(37,37,37,0.10);
$overlay-dark: rgba(37,37,37,0.70);

// Link
// =============================================================================
$link-primary-color: var(--color-accent-primary);
$link-focus-color: var(--color-accent-hocus);
$link-hover-color: var(--color-accent-hocus);
$link-active-color: var(--color-accent-active);

// Button
// =============================================================================
$primary-button-radius: 5px;
$outline-button-border: 1px solid $gray-8;
$outline-button-color: $gray-8;

// Forms
// =============================================================================
$input-field-radius: 5px;

// Controls
// =============================================================================
$control-button-radius: 18px;

// Selection
// =============================================================================
$selection-text-color:       #3297FD;
$selection-background-color: #FFFFFF;

// UI
// =============================================================================
$ui00BackgroundColor: $white;
$ui20BackgroundColor: $gray-2;
$ui60BackgroundColor: $gray-8;

// Header
// =============================================================================
$header-menu-toggle-border: 1px solid $gray-4;
$header-menu-toggle-radius: 5px;
$header-primary-border: 1px solid $gray-4;
$header-primary-color: $gray-8;
$header-utility-border: 1px solid $gray-4;
$header-utility-background: $gray-2;
$header-utility-link: $gray-6;
$header-utility-link-inactive: $gray-6;

// Footer
// =============================================================================
$footer-color: $gray-8;
$footer-border: 1px solid $gray-4;
$parent-co-border: 1px solid $gray-7;
$parent-co-background: $white;
$parent-co-color: $black;
$legal-bar-links: $gray-6;
$legal-bar-background: $gray-2;
