{# -- Base page layout -- #}
{# ----------------------------------------------------------------- #}
{% extends "_base/html/_base.twig" %}

{% block content %}
<pre>
    {{ dump(is_front_page) }}
</pre>
    <div class="o-section">
    </div>
{% endblock %}
