{# -- Base page layout -- #}
{# ----------------------------------------------------------------- #}
{% extends "_base/html/_base.twig" %}

{# -- Page Variables -- #}

{% set relatedPages = post.meta('related_pages') %}
{% set railMaps     = post.meta('rail_maps') %}
{% set featuredPage = post.meta('featured_page') %}

{# -- Page Template -- #}

{% block content %}

    <section class="o-section -is-banner">
        {% include '_components/banner--primary.twig' with {
            params: {
                eyebrow: post.banner_eyebrow,
                image: Image(post.banner_image),
                headline: post.banner_headline ? post.banner_headline : post.title,
                body: post.banner_description,
                links: post.meta('banner_links'),
            }
        } only %}
    </section>

    <section class="o-section -is-content" data-scroll>

        <div class="c-wysiwyg u-text-center u-fade-in">
            {{ post.content }}
        </div>

        {% if relatedPages is defined and relatedPages is not empty %}
        <ul class="c-list u-text-center">
            {% for item in relatedPages %}
                <li class="c-list__item u-fade-in">
                    {% include '_elements/link.twig' with {
                        params: {
                            isExternal: (item.target == '_blank'),
                            linkUrl: item.link,
                            linkText: item.title
                        },
                        class: 'c-list__link'
                    } only %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}

    </section>

    {% if railMaps %}
    <section class="o-section -is-locations">
        <h2 class="u-text-h2">Maps</h2>
        {% include '_components/swiper.twig' with {
            params: {
                swiper: railMaps,
                arrows: true,
                pagination: true,
            },
            classes: 'c-featured-maps'
        } only %}
    </section>
    {% endif %}

    {% if featuredPage %}
    <section class="o-section -is-featured" data-scroll>
        {% if featuredPage.excerpt is defined and featuredPage.excerpt is not empty %}
            {% set content = featuredPage.excerpt %}
        {% else %}
            {% set content = (featuredPage.post_content|slice(0, 180)) ~ '...' %}
        {% endif %}
        {% include '_components/card.twig' with {
            params: {
                thumbnail: Image(featuredPage.banner_image),
                title: featuredPage.title,
                text: content,
                link: featuredPage.link
            }
        } only %}
    </section>
    {% endif %}

{% endblock %}
