{# -- Base page layout -- #}
{# ----------------------------------------------------------------- #}
{% extends "_base/html/_base.twig" %}

{% block content %}
    <div class="o-section">
    </div>
{% endblock %}
