{# -- Component Variables -- #}

{% set this = {
    eyebrow: params.eyebrow,
    image: params.image,
    headline: params.headline,
} %}

{# -- Component Template -- #}

<div class="c-banner -is-secondary">

    <div class="c-banner__content"{% if this.image is defined and this.image is not empty %} style="background-image: url({{ this.image.src('medium') }})"{% endif %}>
        <h1 class="c-banner__headline c-headline u-font-size-h2">{{ this.headline }}</h1>
    </div>

</div>
