{# -- Component Variables -- #}

{% set this = {
    eyebrow: params.eyebrow,
    image: params.image,
    headline: params.headline,
} %}

{# -- Component Template -- #}

<div class="c-banner -is-secondary">

    <div class="c-banner__content">
        <h1 class="c-banner__headline c-headline u-text-h2">{{ this.headline }}</h1>
    </div>

    {% if this.image is defined and this.image is not empty %}
        {% include '_elements/picture.twig' with {
            params: {
                src: this.image,
                background: true
            }
        } %}
    {% endif %}

</div>
