{# -- Component Variables -- #}

{% set this = {
    eyebrow: params.eyebrow,
    image: params.image,
    headline: params.headline,
    body: params.body,
    links: params.links,
} %}

{# -- Component Template -- #}

<div class="c-banner -is-primary">

    <div class="c-banner__content">
        <h1 class="c-banner__headline u-font-size-h1">{{ this.headline }}</h1>
        <div class="c-banner__body c-wysiwyg">
            {{ this.body }}
        </div>
        {% if this.links is defined and this.links is not empty %}
            <div class="c-banner__links">
                {% for link in this.links %}
                    {% set button = link.banner_link %}
                    {% include '_elements/link.twig' with {
                        params: {
                            button: true,
                            isExternal: (button.target == '_blank'),
                            linkUrl: button.url,
                            linkText: button.title
                        },
                        class: '-is-primary'
                    } only %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <figure class="c-banner__media">
        {% include '_elements/picture.twig' with {
            params: {
                src: this.image,
                background: true
            }
        } %}
        <figcaption></figcaption>
    </figure>

</div>
