{# -- Component Variables -- #}

{# {% set this = {} %} #}

{# -- Component Template -- #}

<div class="c-loader">
    <div class="c-loader__dot"></div>
    <div class="c-loader__dot"></div>
    <div class="c-loader__dot"></div>
    <div class="c-loader__dot"></div>
    <div class="c-loader__dot"></div>
</div>
