{# -- Component Variables -- #}

{% set this = {
    slides: params.swiper,
    arrows: (params.arrows == true) ? true : null,
    pagination: (params.pagination == true) ? true : null,
    scrollbar: (params.scrollbar == true) ? true : null,
    class: classes,
    lastSlide: lastSlide
} %}

{# -- Component Template -- #}

<nav class="c-swiper swiper" data-module-swiper>

    <ul class="swiper-wrapper{% if this.class %} {{ this.class }}{% endif %}">
        {% for slide in this.slides %}
            <li class="{% if this.class %} {{ this.class }}{% endif %}__map swiper-slide u-ratio u-1:1">
                {% include '_elements/picture.twig' with {
                    params: {
                        src: slide.thumbnail ? Image(slide.thumbnail) : Image(slide.banner_image),
                        ratio: '1:1',
                    }
                } only %}
                {% include '_elements/link.twig' with {
                    params: {
                        linkUrl: slide.link,
                        linkText: slide.title
                    },
                    class: this.class ? (this.class ~ '__link') : null
                } only %}
            </li>
        {% endfor %}
        {% if lastSlide == 'c-featured-maps' %}
            <li class="{% if this.class %} {{ this.class }}{% endif %}__map swiper-slide u-ratio u-1:1">
                {% include '_elements/link.twig' with {
                    params: {
                        linkUrl: '/rails',
                        linkText: 'See All'
                    },
                    class: this.class ? (this.class ~ '__link') : null
                } only %}
            </li>
        {% endif %}
    </ul>

    <div class="c-swiper__controls">

        {% if this.pagination is defined and this.pagination is not null %}
            <div class="c-swiper__pagination"></div>
        {% endif %}

        {% if this.arrows is defined and this.arrows is not null %}
            <div class="c-swiper__prev"></div>
            <div class="c-swiper__next"></div>
        {% endif %}

        {% if this.scrollbar is defined and this.scrollbar is not null %}
            <div class="c-swiper__scrollbar"></div>
        {% endif %}

    </div>

</nav>
