{# -- Component Variables -- #}

{% set this = {
    slides: params.swiper,
    arrows: (params.arrows == true) ? true : null,
    pagination: (params.arrpaginationows == true) ? true : null,
    scrollbar: (params.scrollbar == true) ? true : null,
} %}

{# -- Component Template -- #}

<nav class="swiper" data-module-swiper>

    <ul class="c-featured-maps swiper-wrapper">
        {% for slide in this.slides %}
            <li class="c-featured-maps__map swiper-slide u-ratio u-1:1">
                {% include '_elements/picture.twig' with {
                    params: {
                        src: slide.thumbnail ? Image(slide.thumbnail) : Image(slide.banner_image),
                        ratio: '1:1',
                    }
                } only %}
                {% include '_elements/link.twig' with {
                    params: {
                        linkUrl: slide.link,
                        linkText: slide.title
                    },
                    class: 'c-featured-maps__link'
                } only %}
            </li>
        {% endfor %}
    </ul>

    {% if this.pagination is defined and this.pagination is not null %}
        <div class="swiper-pagination"></div>
    {% endif %}

    {% if this.arrows is defined and this.arrows is not null %}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    {% endif %}

  <div class="swiper-scrollbar"></div>

</nav>
