{# -- Base page layout -- #}
{# ----------------------------------------------------------------- #}
{% extends "_layouts/index.twig" %}

{% block content %}
    <h3>This is my archive</h3>
    {{ parent() }}
{% endblock %}
