{# -- Base page layout -- #}
{# ----------------------------------------------------------------- #}
{% extends "_base/html/_base.twig" %}

{% block content %}

    <section class="o-section -full-width -is-banner">
        {% include '_components/banner--secondary.twig' with {
            banner: post
        } only %}
    </section>

    <section class="o-section -is-content">
        <div class="c-wysiwyg">
            {{ post.content }}
        </div>
    </section>

    <section class="o-section -is-card-deck">
        {% if post.children %}
            <ul class="c-related-posts">
                {% for child in post.children %}
                    <li class="c-related-posts__post">
                        <div class="c-card">
                            {% set thumbnail = Image(child.banner_image) %}
                            <img src="{{ thumbnail.src('medium') }}" class="c-card__image" />
                            <div class="c-card__content">
                                <h2 class="c-card__headline">{{ child.title }}</h2>
                                <div class="c-card__body">
                                    {{ child.excerpt ?? child.conent }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

{% endblock %}
