{# -- Base page layout -- #}
{# ----------------------------------------------------------------- #}
{% extends "_base/html/_base.twig" %}

{% block content %}

    <section class="o-section -full-width">
        {% include '_components/banner--secondary.twig' with {
            banner: post
        } only %}
    </section>

    <section class="o-section">
        <article class="c-wysiwyg">
            {{ post.content }}
        </article>
    </section>

    {% if post.children %}
        <aside class="o-section -is-card-deck">
            <ul class="c-related-posts">

                {% for child in post.children %}
                    <li class="c-related-posts__post">

                        {% if child.excerpt is defined and child.excerpt is not empty %}
                            {% set content = child.excerpt %}
                        {% else %}
                            {% set content = (child.post_content|slice(0, 180)) ~ '...' %}
                        {% endif %}

                        {% include '_components/card.twig' with {
                            params: {
                                thumbnail: Image(child.banner_image),
                                title: child.title,
                                text: content,
                                link: child.link
                            }
                        } only %}

                    </li>
                {% endfor %}

            </ul>
        </aside>
    {% endif %}

{% endblock %}
