{# -- Base page layout -- #}
{# ----------------------------------------------------------------- #}
{% extends "_base/html/_base.twig" %}

{% block content %}

    <section class="o-section -full-width">
        {% include '_components/banner--secondary.twig' with {
            banner: post
        } only %}
    </section>

    <section class="o-section">
        <article class="c-wysiwyg">
            {{ post.content }}
        </article>
    </section>

    <section class="o-section">
        {% if post.children %}
            <ul class="c-related-posts">
                {% for child in post.children %}
                    <li class="c-related-posts__post">
                        <div class="c-card">
                            <h2 class="c-card__headline">{{ child.title }}</h2>
                            <div class="c-card__body">
                                {{ child.excerpt ?? child.conent }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

{% endblock %}
